@import "variables";
@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}

.theme-three {
  .section-title--container {
    margin-top: 5rem;
    margin-bottom: 8rem;
    .section-title--sub {
      font-size: 2.3rem;
      font-weight: 200;
      color: var(--primaryColor);
      letter-spacing: 0.02em;
    }
    .section-title--main {
      font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
      font-size: 5rem;
      line-height: 109.4%;
      color: var(--primaryColor);
    }
  }
}

@media (max-width: 65em) {
  .theme-three {
    .section-title--container {
      margin-top: 4rem;
      margin-bottom: 6rem;
      .section-title--sub {
      }
      .section-title--main {
        font-size: 4.2rem;
      }
      .section-title-svgicon {
      }
      .section-title--sub {
      }
    }
  }
}

@media (max-width: 35em) {
  .theme-three {
    .section-title--container {
      margin-top: 4rem;
      margin-bottom: 4rem;
      .section-title--sub {
        font-size: 2.3rem;
        font-weight: 200;
        color: var(--primaryColor);
        letter-spacing: 0.02em;
      }
      .section-title--main {
        font-size: 3rem;
      }
      .section-title-svgicon {
        width: 45px;
        height: 43px;
      }
      .section-title--sub {
        font-size: 1.6rem;
      }
    }
  }
}
