@import "variables";
@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
.borderTop {
  border-top: 4px solid var(--borderColor);
}
.lightGray-bg {
  background-color: var(--lightGrayBg);
}
.main-color {
  color: var(--primaryColor);
}
.section-sub-header-bold {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  // font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif !important;
  font-size: 2.2rem;
  // font-weight: 800;
  color: var(--primaryColor);
  // margin-top: 2rem;
  margin-bottom: 0.7rem;
  // letter-spacing: 2px;
}
.section-header {
  font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif !important;
  font-size: 3rem;
  font-weight: 800;
  color: var(--primaryColor);
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.section-header-bold {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  // font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif !important;
  font-size: 3rem;
  // font-weight: 800;
  color: var(--primaryColor);
  // margin-top: 2rem;
  margin-bottom: 0.7rem;
  // letter-spacing: 2px;
}
.section-sub-header {
  // font-family: 'HelveticaNeueLT Arabic 75 Bold', sans-serif !important;
  font-size: 2rem;
  font-weight: 400;
  color: var(--primaryColorLight);
  margin-bottom: 1rem;
}

.theme-three {
  .testimonialsWrapper {
    padding: 6rem 0 0 0 !important;
  }
  // .test-parent{
  //   width: 100%;
  //   // margin: 2rem;
  //   // background-color: aqua;
  //   // padding: 3rem;
  // }
  // .testmonials-holder{
  //   // background-color: red;
  //   width: 100%;
  //   height: 100%;
  //   padding-right: 5.5rem;
  // }
  .testimonials {
    width: 100%;
    height: auto;
    margin: 0 auto;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    //   padding: 1.2rem 2.4rem;
    // margin: 5rem -15px;
    // align-items: center;
    // background-color: aqua;
    direction: rtl;
  }

  .testimonial-item {
    padding: 20px 16px 20px 0px;
    width: 100%;
    height: auto;
    background: var(--white);
    border: 1px solid #eff0f7;
    box-shadow: 0px 4px 4px rgba(30, 84, 157, 0.21),
      inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 2rem 2rem !important;
    // overflow: hidden;
    margin: 2rem 15px 2rem 0;
  }
  .testimonial-item:hover {
    background-color: var(--primaryColor);
    .testimonial-title {
      color: var(--white) !important;
    }
    .testimonial-desc {
      color: var(--white) !important;
    }
    .testimonial-author {
      color: var(--white) !important;
    }
    .testimonial-authorTitle {
      color: var(--white) !important;
    }
  }

  .testimonial-title {
    color: var(--primaryColor);
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .testimonial-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: var(--testimonialContentColor);
    margin-bottom: 3rem;
  }

  .testimonial-photo {
    width: 7rem;
    height: 7rem;
  }
  .testimonial-author {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--testimonialAutherColor);
  }

  .testimonial-authorTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--testimonialAutherTitleColor);
  }
  .testimonialsActions {
    padding: 1.2rem 2.4rem;
    width: 100%;
    margin: 4rem auto;
  }

  .testimonial-prev,
  .testimonial-next {
    padding: 1.5rem 2rem;
    background: var(--white);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 4px 4px rgba(30, 84, 157, 0.21));
    border: none;
    outline: none;
    border-radius: 10px;
  }

  @media (max-width: 1200px) {
    .testimonial-author {
      font-size: 15px;
    }

    .testimonial-authorTitle {
      font-size: 13px;
    }
    .testimonial-desc {
      font-size: 15px;
    }
  }

  @media (max-width: 770px) {
    .slick-dots {
      // background-color: burlywood;
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      padding: 1rem 0;
      list-style-type: none;

      li {
        margin: 0 0.6rem;
      }

      button {
        overflow: hidden;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #79a6e1;

        text-indent: -9999px;
      }

      li.slick-active button {
        background-color: var(--primaryColor);
      }
    }
  }

  @media (max-width: 670px) {
    .testimonial-item {
      margin-top: 1rem;
    }
  }

  @media (max-width: 950px) {
    .testimonials {
      width: 98%;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    .testimonial-author {
      font-size: 15px;
    }

    .testimonial-authorTitle {
      font-size: 13px;
    }
  }
  @media (max-width: 650px) {
    .testimonials {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }

  @media (max-width: 750px) {
    .testimonialsWrapper {
      padding: 6rem 0 3rem 0 !important;
    }

    .testimonial-authorTitle {
      font-size: 12px;
    }
    .testimonial-desc {
      font-size: 14px;
    }
  }
}

// media from theme-3
@media (max-width: 950px) {
  .section-header {
    font-size: 3.5rem;
  }
  .section-header-bold {
    font-size: 2.7rem;
  }
  .section-sub-header-bold {
    font-size: 2.3rem;
  }
  .section-sub-header {
    // font-family: 'HelveticaNeueLT Arabic 75 Bold', sans-serif !important;
    font-size: 1.7rem;
  }
}
@media (max-width: 650px) {
  .section-header {
    font-size: 3rem;
  }
  .section-header-bold {
    font-size: 2.5rem;
  }
  .section-sub-header {
    // font-family: 'HelveticaNeueLT Arabic 75 Bold', sans-serif !important;
    font-size: 1.3rem;
  }
}
@media (max-width: 550px) {
  .section-header {
    font-size: 2.5rem;
  }
  .section-header-bold {
    font-size: 2.2rem;
  }
  .section-sub-header-bold {
    font-size: 2rem;
  }
  .section-sub-header {
    font-size: 1.4rem;
  }
}

@media (max-width: 650px) {
  .servicesDesc {
    font-size: 1.2rem;
  }
}

.margin-bottom-half {
  margin-bottom: 0.5rem;
}
.margin-bottom-1 {
  margin-bottom: 1rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}
.margin-bottom-3 {
  margin-bottom: 3rem;
}
.margin-bottom-4 {
  margin-bottom: 4rem;
}
.margin-bottom-5 {
  margin-bottom: 5rem;
}

.margin-top-half {
  margin-top: 0.5rem;
}
.margin-top-1 {
  margin-top: 1rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-top-3 {
  margin-top: 3rem;
}
.margin-top-4 {
  margin-top: 4rem;
}
.margin-top-5 {
  margin-top: 5rem;
}
