/** projects page styles ***/
@import "views/theme1/variables";
@import "views/theme1/fonts";

.theme-title {
    font-family: "Tajawal-Bold";
    font-size: 32px;
    color: var(--bg_color);
    font-style: normal;
    font-weight: 700;
    line-height: 93.75%;
    margin-bottom: 16px;
}

.theme-subtitle {
    color: var(--paragraphColor);
    font-family: "Tajawal-Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.333%;
    max-width: 434px;
}

.projects {
    padding-bottom: 176px;

    .theme-subtitle {
        margin-bottom: 36px;
    }

    .project-card {
        border-radius: 6px;
        border: 1px solid rgba(70, 117, 239, 0.12);

        .card-img {
            img.w-100 {
                border-radius: 6px 6px 0 0;
            }
        }

        .card-body {
            padding: 12px;

            .card-title {
                color: #393939;
                font-size: 14px;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.07px;
                line-height: 135%;
            }

            .location {
                display: inline-block;
                min-width:fit-content;
                color: var(--paragraphColor);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height:200%;

                img{
                    margin-left: 8px;
                }
            }
        }
    }
}