:root {
  --primaryColor: #0d3770;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #1e549d;
  --headerBottomBgColor: #0d3770;
  --headerTopContentColor: #fff;
  --headingsColor: #0d3770;
  --paragraphColor: #181818;
  --lightContentColor: #181818b2;
  --linksColor: #0d3770;
  --linksHoverColor: #0d3770;
  --menuLinksColor: #c0c0c0 !important;
  --menuLinksHoverColor: #fff !important;
  --footerBackgroundColor: #0d3770;
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #fff !important;
  --firstGradientColor: #153e9b;
  --secondGradientColor: #0d3770;
  --theme-three-main-color: var(--primaryColor);
  --white: #fff;
  --black: #000;
  --gray: #ccc;
  --green: green;
  --firstHeaderBgColor: var(--headerTopBgColor);
  --mainHeaderBg: var(--headerBottomBgColor);
  --mainBgColor: var(--primaryColor);
  --lightGrayBg: #f5f6f7;
  --borderColor: var(--primaryColor);
  --headerColor: var(--primaryColor);
  --primaryColorLight: var(--primaryColor);
  --headerBtnColor: var(--primaryColor);
  --externalLinksColor: var(--linksColor);
  --testimonialContentColor: var(--lightContentColor);
  --testimonialAutherColor: var(--paragraphColor);
  --testimonialAutherTitleColor: var(--lightContentColor);
  --hamubergerBgColor: var(--secondaryColor);
  --sign-in-header: var(--primaryColor);
  --sign-in-desc: var(--lightContentColor);
  --sign-in-desc2: var(--lightContentColor);
  --input-border: var(--secondaryColor);
  --input-placeholder: #afafaf;
  --input-background: #f8f8f8;
  --button-bg-primary: var(--secondaryColor);
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #424442;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
  --whiteTextColor: var(--white);
  --notificationNav: linear-gradient(
    89.33deg,
    #d5a419 6.67%,
    #ae8100 93.79%
  );
  --gallerySubHeaderTitle: var(--primaryColor);
  --mediaMainHeaderColor: var(--black);
  --mediaMainNewContentColor: var(--paragraphColor);
  --mediaSeeMoreMainBtnColor: var(--secondaryColor);
  --mediaDateColor: var(--paragraphColor);
  --seeMoreBtnBg: #e1e1e1;
  --sub-single-new-header-color: var(--primaryColor);
  --single-new-desc-color: var(--lightContentColor);
  --new-desc-sub-header: var(--primaryColor);
  --new-content-color: var(--paragraphColor);
  --content-item-color: var(--primaryColor);
  --single-new-external-news-color: var(--primaryColor);
  --data-table-header-bg-color: #0081c41a;
  --data-table-header-color: var(--primaryColor);
  --data-table-header-item-color: var(--paragraphColor);
  --table-even-row-bg-color: #f6f6f6;
}

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
.section-title--main {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 5rem;
  line-height: 109.4%;
  color: var(--primaryColor);
}

.section-title--sub {
  font-size: 2.3rem;
  font-weight: 200;
  color: #0d3770;
  letter-spacing: 0.02em;
}

.section-title-pad {
  margin-top: 5rem;
}

.page_content {
  padding-bottom: 0;
}
.section-title--container{
  padding-top: 31px ;
}
.albums-wrapper {
  margin: 0rem 0 3rem 0;
  padding: 66px 1rem 35rem 1rem !important;
  background-color: var(--white);
}

.card-group {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  row-gap: 24px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.card-group .card {
  border: 1px solid #e5e5e5;
  border-top-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  -webkit-box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.03);
          box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.03);
}
.card-group .card .card-img-top {
  border-top-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
}
.card-group .card .card-body {
  padding: 1rem 2rem;
  margin-top: 3rem;
}
.card-group .card .card-body .card-title-date {
  font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif !important;
  font-size: 1.6rem;
  line-height: 132%;
  color: #8b8b8b;
  margin-bottom: 1rem;
}
.card-group .card .card-body .card-title {
  width: 85%;
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 2.2rem;
  line-height: 150.5%;
  color: var(--paragraphColor);
  margin-bottom: 2.5rem;
}
.card-group .card .card-body .card-title-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5rem;
}
.card-group .card .card-body .card-title-link .card-title-link-title {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 1.8rem;
  line-height: 40px;
  color: #0d3770;
  -ms-flex-item-align: center;
      align-self: center;
}
.card-group .card .card-body .card-title-link .card-title-link-svg-arrow {
  width: 5rem;
  height: 5rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.pagination-margin-top {
  margin-top: 8rem !important;
}
.pagination .page-item{
margin:0 2px
}
.album-pagination .pagination .page-item .page-link{
  background: #fff;
  border-radius: 6px;
  border: 1px solid #F0F0F0;
  color: #5C5C5C !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 168.4%;
  letter-spacing: -0.8px;
}
.album-pagination .pagination .page-item.active .page-link{
color:#fff !important;
background: var(--primaryColor);
}
@media (max-width: 992px) {
  .pagination-margin-top {
    margin-top: 3rem;
  }
  .card-group {
    grid-template-columns: repeat(2, 1fr) !important;
    row-gap: 2.5rem;
  }
  .card-group .card {
    border: 1px solid #e5e5e5;
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    -webkit-box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.03);
            box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.03);
  }
  .card-group .card .card-img-top {
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
  }
  .card-group .card .card-body {
    padding: 1rem 2rem;
    margin-top: 3rem;
  }
  .card-group .card .card-body .card-title-date {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .card-group .card .card-body .card-title {
    width: 85%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .card-group .card .card-body .card-title-link {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1.5rem;
  }
  .card-group .card .card-body .card-title-link .card-title-link-title {
    font-size: 1.6rem;
  }
  .card-group .card .card-body .card-title-link .card-title-link-svg-arrow {
    width: 4rem;
    height: 4rem;
    margin-top: 5px;
  }
}
@media (max-width: 576px) {
  .pagination-margin-top {
    margin-top: 0 !important;
  }
  .albums-wrapper {
    margin: 5rem 0 3rem 0;
    padding: 7rem 2.5rem 40rem 2.5rem !important;
    background-color: var(--white);
  }
  .gallery_page-title-container {
    padding: 1rem !important;
  }
  .card-group {
    grid-template-columns: repeat(1, 1fr) !important;
    row-gap: 2.5rem;
  }
  .card-group .card {
    border: 1px solid #e5e5e5;
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    -webkit-box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.03);
            box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.03);
  }
  .card-group .card .card-img-top {
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
  }
  .card-group .card .card-body {
    padding: 1rem 2rem;
    margin-top: 3rem;
  }
  .card-group .card .card-body .card-title-date {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .card-group .card .card-body .card-title {
    width: 85%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .card-group .card .card-body .card-title-link {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1.5rem;
  }
  .card-group .card .card-body .card-title-link .card-title-link-title {
    font-size: 1.6rem;
  }
  .card-group .card .card-body .card-title-link .card-title-link-svg-arrow {
    width: 4rem;
    height: 4rem;
    margin-top: 5px;
  }
}
.margin-bottom-half {
  margin-bottom: 0.5rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.margin-bottom-5 {
  margin-bottom: 5rem;
}

.margin-top-half {
  margin-top: 0.5rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

@media (max-width: 1000px) {
  .section-title--main {
    font-size: 4.3rem;
  }
}
@media (max-width: 35em) {
  .section-title--main {
    font-size: 3rem;
  }
}
@media (max-width: 35em) {
  .section-title-svgicon {
    width: 45px;
    height: 43px;
  }
  .section-title--sub {
    font-size: 1.6rem;
  }
}
@media (max-width: 1000px) {
  .section-title--svgicon {
    width: 50px;
    height: 49px;
  }
}
@media (max-width: 35em) {
  .section-title--svgicon {
    width: 45px;
    height: 43px;
  }
}