:root {
  --primaryColor: #0d3770;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #1e549d;
  --headerBottomBgColor: #0d3770;
  --headerTopContentColor: #fff;
  --headingsColor: #0d3770;
  --paragraphColor: #181818;
  --lightContentColor: #181818b2;
  --linksColor: #0d3770;
  --linksHoverColor: #0d3770;
  --menuLinksColor: #c0c0c0 !important;
  --menuLinksHoverColor: #fff !important;
  --footerBackgroundColor: #0d3770;
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #fff !important;
  --firstGradientColor: #153e9b;
  --secondGradientColor: #0d3770;
  --theme-three-main-color: var(--primaryColor);
  --white: #fff;
  --black: #000;
  --gray: #ccc;
  --green: green;
  --firstHeaderBgColor: var(--headerTopBgColor);
  --mainHeaderBg: var(--headerBottomBgColor);
  --mainBgColor: var(--primaryColor);
  --lightGrayBg: #f5f6f7;
  --borderColor: var(--primaryColor);
  --headerColor: var(--primaryColor);
  --primaryColorLight: var(--primaryColor);
  --headerBtnColor: var(--primaryColor);
  --externalLinksColor: var(--linksColor);
  --testimonialContentColor: var(--lightContentColor);
  --testimonialAutherColor: var(--paragraphColor);
  --testimonialAutherTitleColor: var(--lightContentColor);
  --hamubergerBgColor: var(--secondaryColor);
  --sign-in-header: var(--primaryColor);
  --sign-in-desc: var(--lightContentColor);
  --sign-in-desc2: var(--lightContentColor);
  --input-border: var(--secondaryColor);
  --input-placeholder: #afafaf;
  --input-background: #f8f8f8;
  --button-bg-primary: var(--secondaryColor);
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #424442;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
  --whiteTextColor: var(--white);
  --notificationNav: linear-gradient(
    89.33deg,
    #d5a419 6.67%,
    #ae8100 93.79%
  );
  --gallerySubHeaderTitle: var(--primaryColor);
  --mediaMainHeaderColor: var(--black);
  --mediaMainNewContentColor: var(--paragraphColor);
  --mediaSeeMoreMainBtnColor: var(--secondaryColor);
  --mediaDateColor: var(--paragraphColor);
  --seeMoreBtnBg: #e1e1e1;
  --sub-single-new-header-color: var(--primaryColor);
  --single-new-desc-color: var(--lightContentColor);
  --new-desc-sub-header: var(--primaryColor);
  --new-content-color: var(--paragraphColor);
  --content-item-color: var(--primaryColor);
  --single-new-external-news-color: var(--primaryColor);
  --data-table-header-bg-color: #0081c41a;
  --data-table-header-color: var(--primaryColor);
  --data-table-header-item-color: var(--paragraphColor);
  --table-even-row-bg-color: #f6f6f6;
}

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
.borderTop {
  border-top: 4px solid var(--borderColor);
}

.lightGray-bg {
  background-color: var(--lightGrayBg);
}

.main-color {
  color: var(--primaryColor);
}

.section-sub-header-bold {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 2.2rem;
  color: var(--primaryColor);
  margin-bottom: 0.7rem;
}

.section-header {
  font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif !important;
  font-size: 3rem;
  font-weight: 800;
  color: var(--primaryColor);
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.section-header-bold {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 3rem;
  color: var(--primaryColor);
  margin-bottom: 0.7rem;
}

.section-sub-header {
  font-size: 2rem;
  font-weight: 400;
  color: var(--primaryColorLight);
  margin-bottom: 1rem;
}

.services-title-head {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-size: 3rem;
  color: var(--theme-three-main-color);
  margin-bottom: 0.7rem;
}

.theme-three .photo-carousel {
  position: relative;
}
.theme-three .photo-carousel .photo-item {
  margin: 3rem 0;
}
.theme-three .photoCarouselActions {
  width: 100%;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.theme-three .photo-next,
.theme-three .photo-prev {
  padding: 1.5rem 2rem;
  background: var(--white);
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(30, 84, 157, 0.21));
          filter: drop-shadow(0px 4px 4px rgba(30, 84, 157, 0.21));
  border: none;
  outline: none;
  border-radius: 10px;
}
.theme-three .prevIcon,
.theme-three .nextIcon {
  font-size: 2rem;
  color: var(--theme-three-main-color);
}

@media (max-width: 550px) {
  .theme-three .photo-carousel {
    position: relative;
  }
  .theme-three .photo-carousel .photo-item {
    width: 95%;
    margin: 0 auto;
  }
  .theme-three .photoCarouselActions {
    width: 100%;
    margin: 3rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .theme-three .photo-next,
  .theme-three .photo-prev {
    padding: 1.5rem 2rem;
    background: var(--white);
    -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(30, 84, 157, 0.21));
            filter: drop-shadow(0px 4px 4px rgba(30, 84, 157, 0.21));
    border: none;
    outline: none;
    border-radius: 10px;
  }
  .theme-three .prevIcon,
  .theme-three .nextIcon {
    font-size: 2rem;
    color: var(--theme-three-main-color);
  }
}