:root {
  --theme-one-main-color: #0d3770;
}

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif !important;
  font-size: 1.8rem;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

.borderTop {
  border-top: 4px solid #0d3770;
}

.margin-top-1 {
  margin-top: 1rem;
}

.borderTop-internal-page {
  border-top: 4px solid #307189;
}

.footer {
  padding-top: 10rem !important;
}

.page_content {
  margin: 5rem 0 20rem 0;
}

.services-title-head {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-size: 3rem;
  color: var(--theme-one-main-color);
  margin-bottom: 0.7rem;
}

.servicesDesc {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--theme-one-main-color);
  margin-bottom: 1rem;
}

.circle-arrow-container {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.08);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.circle-arrow-container:hover {
  background: rgba(0, 0, 0, 0.2);
}

.servicesBtn {
  padding: 0.2rem 3rem !important;
  background: rgba(0, 0, 0, 0.0784313725) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 600 !important;
}

.servicesBtn:hover {
  background: rgba(0, 0, 0, 0.1960784314) !important;
  color: var(--theme-one-main-color);
}

.servicesOptions {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svgIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1e549d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-item {
  padding: 20px 16px 20px 0px;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(30, 84, 157, 0.21), inset 0px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(30, 84, 157, 0.21), inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 2rem 2rem 2rem 0 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.service-item:hover {
  background: rgb(30, 84, 157);
  background: linear-gradient(118084deg, rgb(30, 84, 157) 35%, rgb(13, 55, 112) 100%);
}
.service-item:hover .service-item-title {
  color: #fff;
}
.service-item:hover .svgIcon {
  background-color: #fff;
}
.service-item:hover .svgIcon .arrowStroke {
  stroke: var(--theme-one-main-color);
}

.service-item-title {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--theme-one-main-color);
  margin-top: 2rem;
}

@media (max-width: 950px) {
  .servicesOptions {
    width: 95%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .servicesBtn {
    margin: 2rem 0;
    width: 19rem;
  }
  .servicesDesc {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--theme-one-main-color) Light;
    margin-bottom: 1rem;
  }
}
@media (max-width: 770px) {
  .service-item-title {
    font-size: 2.2rem;
  }
  .servicesTitle {
    font-size: 3rem;
  }
  .servicesDesc {
    font-size: 16px;
  }
  .circle-arrow-container {
    width: 6.5rem;
    height: 6.5rem;
    padding: 2rem 1.5rem;
  }
  .servicesBtn {
    padding: 0.3rem 2.2rem !important;
  }
  .servicesOptions {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-right: 0;
  }
  .service-item {
    padding: 20px 16px 20px 0px;
    width: 100%;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 4px rgba(30, 84, 157, 0.21), inset 0px 0px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 4px rgba(30, 84, 157, 0.21), inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem 2rem 2rem 0 !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .svgIcon {
    width: 42px;
    height: 42px;
  }
}
@media (max-width: 550px) {
  .services-title-head {
    font-size: 2.8rem;
    margin-bottom: 0.7rem;
  }
  .servicesDesc {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .circle-arrow-container {
    width: 5.5rem;
    height: 5.5rem;
    padding: 2rem 1.5rem;
  }
}