:root {
  --primaryColor: #0d3770;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #1e549d;
  --headerBottomBgColor: #0d3770;
  --headerTopContentColor: #fff;
  --headingsColor: #0d3770;
  --paragraphColor: #181818;
  --lightContentColor: #181818b2;
  --linksColor: #0d3770;
  --linksHoverColor: #0d3770;
  --menuLinksColor: #c0c0c0 !important;
  --menuLinksHoverColor: #fff !important;
  --footerBackgroundColor: #0d3770;
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #fff !important;
  --firstGradientColor: #153e9b;
  --secondGradientColor: #0d3770;
  --theme-three-main-color: var(--primaryColor);
  --white: #fff;
  --black: #000;
  --gray: #ccc;
  --green: green;
  --firstHeaderBgColor: var(--headerTopBgColor);
  --mainHeaderBg: var(--headerBottomBgColor);
  --mainBgColor: var(--primaryColor);
  --lightGrayBg: #f5f6f7;
  --borderColor: var(--primaryColor);
  --headerColor: var(--primaryColor);
  --primaryColorLight: var(--primaryColor);
  --headerBtnColor: var(--primaryColor);
  --externalLinksColor: var(--linksColor);
  --testimonialContentColor: var(--lightContentColor);
  --testimonialAutherColor: var(--paragraphColor);
  --testimonialAutherTitleColor: var(--lightContentColor);
  --hamubergerBgColor: var(--secondaryColor);
  --sign-in-header: var(--primaryColor);
  --sign-in-desc: var(--lightContentColor);
  --sign-in-desc2: var(--lightContentColor);
  --input-border: var(--secondaryColor);
  --input-placeholder: #afafaf;
  --input-background: #f8f8f8;
  --button-bg-primary: var(--secondaryColor);
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #424442;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
  --whiteTextColor: var(--white);
  --notificationNav: linear-gradient(
    89.33deg,
    #d5a419 6.67%,
    #ae8100 93.79%
  );
  --gallerySubHeaderTitle: var(--primaryColor);
  --mediaMainHeaderColor: var(--black);
  --mediaMainNewContentColor: var(--paragraphColor);
  --mediaSeeMoreMainBtnColor: var(--secondaryColor);
  --mediaDateColor: var(--paragraphColor);
  --seeMoreBtnBg: #e1e1e1;
  --sub-single-new-header-color: var(--primaryColor);
  --single-new-desc-color: var(--lightContentColor);
  --new-desc-sub-header: var(--primaryColor);
  --new-content-color: var(--paragraphColor);
  --content-item-color: var(--primaryColor);
  --single-new-external-news-color: var(--primaryColor);
  --data-table-header-bg-color: #0081c41a;
  --data-table-header-color: var(--primaryColor);
  --data-table-header-item-color: var(--paragraphColor);
  --table-even-row-bg-color: #f6f6f6;
}

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
.borderTop {
  border-top: 4px solid var(--borderColor);
}

.main-color {
  color: var(--primaryColor);
}

.section-sub-header-bold {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 2.2rem;
  color: var(--primaryColor);
  margin-bottom: 0.7rem;
}

.section-header {
  font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif !important;
  font-size: 3rem;
  font-weight: 800;
  color: var(--primaryColor);
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.section-header-bold {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 3rem;
  color: var(--primaryColor);
  margin-bottom: 0.7rem;
}

.section-sub-header {
  font-size: 2rem;
  font-weight: 400;
  color: var(--primaryColorLight);
  margin-bottom: 1rem;
}

.theme-three .dateWrapper {
  width: 95px;
  height: 95px;
  background-color: var(--lightGrayBg);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}
.theme-three .dateNum {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 25px;
  color: var(--primaryColor);
}
.theme-three .dateName {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--primaryColor);
  margin-bottom: 0;
}
.theme-three .news {
  width: 100%;
  overflow: hidden;
}
.theme-three .news-list {
  width: 100%;
  overflow: hidden;
}
.theme-three .showMore {
  height: auto;
}
.theme-three .showLess {
  height: 111rem;
}
.theme-three .linear {
  width: 100%;
  height: 15rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.92%, #ffffff), color-stop(145.24%, rgba(255, 255, 255, 0)));
  background: linear-gradient(360deg, #ffffff -9.92%, rgba(255, 255, 255, 0) 145.24%);
}
.theme-three .seeMoreBtn,
.theme-three .seeMoreNewsBtn {
  height: 60px;
  width: 220px;
  background-color: var(--mainBgColor);
  border-radius: 44px;
  color: var(--white);
  padding: 2rem 3rem;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: -7px 14px 21px -4px rgba(0, 0, 0, 0.24);
          box-shadow: -7px 14px 21px -4px rgba(0, 0, 0, 0.24);
}
.theme-three .seeMoreBtn p,
.theme-three .seeMoreNewsBtn p {
  color: var(--white);
}
.theme-three .seeMoreBtn:hover,
.theme-three .seeMoreNewsBtn:hover {
  color: #fff;
  background-color: rgb(30, 101, 172);
}
.theme-three .svgArrowMore {
  width: 20px;
  height: 20px;
  fill: #fff;
  -webkit-animation: arrowInf 3s infinite;
          animation: arrowInf 3s infinite;
}
@-webkit-keyframes arrowInf {
  0% {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  75% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes arrowInf {
  0% {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  75% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.theme-three .imageNews {
  width: 75%;
  height: 100%;
}
.theme-three .newHeader {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: black;
}
.theme-three .newDesc {
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--newsSubHeaderColor);
}
@media (max-width: 1450px) {
  .theme-three .imageNews {
    width: 50%;
    height: 60%;
  }
  .theme-three .thumb-xxl {
    aspect-ratio: 1/1 !important;
  }
}
@media (max-width: 1200px) {
  .theme-three .imageNews {
    width: 40%;
    height: 40%;
  }
}
@media (max-width: 1000px) {
  .theme-three .imageNews {
    width: 55%;
    height: 95%;
  }
  .theme-three .linear {
    height: 25rem;
  }
  .theme-three .dateWrapper {
    width: 90px;
    height: 90px;
  }
  .theme-three .dateNum {
    font-size: 25px;
  }
  .theme-three .dateName {
    font-size: 14px;
  }
}
@media (max-width: 850px) {
  .theme-three .imageNews {
    width: 60%;
    height: 95%;
  }
}
@media (max-width: 550px) {
  .theme-three .imageNews {
    width: 25% !important;
    height: 25% !important;
    border-radius: 50%;
  }
  .theme-three .newHeader {
    font-size: 15px;
  }
  .theme-three .newDesc {
    font-size: 14px;
  }
  .theme-three .linear {
    height: 20rem;
  }
}
@media (max-width: 35em) {
  .theme-three .dateWrapper {
    width: 70px;
    height: 70px;
  }
  .theme-three .dateNum {
    font-size: 22px;
  }
  .theme-three .dateName {
    font-size: 14px;
  }
  .theme-three .newHeader {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: black;
  }
  .theme-three .newDesc {
    font-size: 12px;
    line-height: 22px;
  }
}

@media (max-width: 950px) {
  .section-header {
    font-size: 3.5rem;
  }
  .section-header-bold {
    font-size: 2.7rem;
  }
  .section-sub-header-bold {
    font-size: 2.3rem;
  }
  .section-sub-header {
    font-size: 1.7rem;
  }
}
@media (max-width: 650px) {
  .section-header {
    font-size: 3rem;
  }
  .section-header-bold {
    font-size: 2.5rem;
  }
  .section-sub-header {
    font-size: 1.3rem;
  }
}
@media (max-width: 550px) {
  .section-header {
    font-size: 2.5rem;
  }
  .section-header-bold {
    font-size: 2.2rem;
  }
  .section-sub-header-bold {
    font-size: 2rem;
  }
  .section-sub-header {
    font-size: 1.4rem;
  }
}
.margin-bottom-half {
  margin-bottom: 0.5rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.margin-bottom-5 {
  margin-bottom: 5rem;
}

.margin-top-half {
  margin-top: 0.5rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-top-5 {
  margin-top: 5rem;
}
