// import fonts
@font-face {
    font-family: 'Tajawal-Bold';
    src: url(../../fonts/Tajawal/Helvetica-bold.ttf);
}

@font-face {
    font-family: 'Tajawal-Regular';
    src: url(../../fonts/Tajawal/Helvetica-normal.ttf);
}


// fonts variables
$bold_font: 'Tajawal-Bold';
$normal_font: 'Tajawal-Regular';


