:root {
  --primaryColor: #1d73bf;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #fff;
  --headerBottomBgColor: #1d73bf;
  --headerTopContentColor: #fff;
  --headingsColor: #1d73bf;
  --paragraphColor: #181818;
  --lightContentColor: #181818b2;
  --lightBgColor: #e8f1f9;
  --linksColor: #1d73bf;
  --linksHoverColor: #1d73bf;
  --menuLinksColor: #fff !important;
  --menuLinksHoverColor: #dcdcdc !important;
  --footerBackgroundColor: #092239;
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #1e549d !important;
  --firstGradientColor: #153e9b;
  --secondGradientColor: #1d73bf;
  --theme-four-main-color: var(--primaryColor);
  --font-normal: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  --font-bold: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --gray-1000: #000;
  --primaryBgColor: var(--primaryColor);
  --tertiaryBgColor: var(--lightBgColor);
  --sub-header-color: var(--lightContentColor);
  --bg-transparent: transparent;
  --loginBtnBgColor: var(--primaryColor);
  --loginBtnBgOnHover: var(--secondaryColor);
  --languageBtnBgColor: var(--lightBgColor);
  --HeroMainTextColor: var(--headingsColor);
  --heroTextColor: var(--lightContentColor);
  --test-sub-color: var(--secondaryColor);
  --strategyDescColor: var(--lightContentColor);
  --bg-color-mobile: var(--lightBgColor);
  --bg-title-color: var(--primaryColor);
  --related-website-item-bg-color: --white;
  --related-website-item-title-color: var(--lightContentColor);
  --related-website-item-visit-text-color: var(--secondaryColor);
  --contactBgColor: var(--secondaryColor);
  --inputFieldBgColor: transparent;
  --contactUsDescText: var(--lightContentColor);
  --footerBgColor: var(--footerBackgroundColor);
  --servicesBgColor: var(--tertiaryBgColor);
  --servicesMainTextColor: var(--primaryColor);
  --servicessecondaryTextColor: var(--lightContentColor);
  --ministerBgColor: var(--lightBgColor);
  --ministerMainTextColor: var(--primaryColor);
  --ministerDescTextColor: var(--paragraphColor);
  --tapsWrapperBgColor: var(--primaryBgColor);
  --sign-in-header: var(--primaryColor);
  --sign-in-desc: #757575;
  --sign-in-desc2: #757575b2;
  --input-border: var(--primaryColor);
  --input-placeholder: #afafaf;
  --input-background: #f8f8f8;
  --button-bg-primary: var(--primaryColor);
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
  --ministeryMainColor: var(--primaryColor);
  --ministerySecondaryColor: var(--lightContentColor);
  --gov-project-date-color: var(--primaryColor);
  --searchMainColor: var(--primaryColor);
  --searchResultColor: var(--primaryColor);
  --searchResultHoverColor: var(--primaryColor);
  --faqMainColor: var(--primaryColor);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
.section {
  padding: 6rem 0;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 168.4%;
  letter-spacing: -0.04em;
  color: var(--black);
}

.primary-section-title {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 3rem !important;
  line-height: 168.4%;
}

.arrow-left,
.arrow-right {
  width: 10rem;
  height: 10rem;
  background: transparent;
  border: none;
  outline: none;
}

.bg-light-color {
  background-color: var(--bg-color-mobile);
}

.theme-four .gallery-wrapper {
  position: relative;
  overflow-x: hidden !important;
}
.theme-four .gallery-wrapper .gallery-container {
  height: 60rem;
  padding: 5rem 2.4rem;
}

.theme-four .gallery-wrapper .inner-container{
  padding: 0;
  position: absolute;
  top: 36%;
  width: calc(100% + 3rem);
  left: -1.5rem;
}
.theme-four .gallery-wrapper .gallery-list2 .slick-slide{
  padding: 0 1.5rem;
  height: 300px;
}
.theme-four .gallery-wrapper  .gallery-item{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}
.theme-four .gallery-wrapper  .gallery-item img{
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.theme-four .gallery-wrapper  .gallery-item p {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--white);
}
.theme-four .gallery-wrapper  .gallery-item iframe {
  width: 100%;
  height: 100%;
}
/*.theme-four .gallery-wrapper .gallery-list {
  position: absolute;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  top: 27%;
  display: none;
}
.theme-four .gallery-wrapper .gallery-list .gallery-item {
  position: relative;
  width: 280px;
  height: 300px;
  overflow: hidden;
  margin: 0 1.5rem;
}

.theme-four .gallery-wrapper .gallery-list .gallery-item p {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--white);
}
*/
@media (max-width: 575.98px) {
  .theme-four .gallery-wrapper .gallery-container {
    height: 50rem;
    padding: 5rem 2.4rem;
  }
  /*.theme-four .gallery-wrapper .gallery-list {
    gap: 3rem;
    top: 20%;
  }
  .theme-four .gallery-wrapper .gallery-list .gallery-item {
    width: 350px;
    height: 300px;
    margin: 0;
  }
  .theme-four .gallery-wrapper .gallery-list .gallery-item img {
    width: 95%;
    height: 100%;
  }
  .theme-four .gallery-wrapper .gallery-list .gallery-item p {
    bottom: 2rem;
    right: 2rem;
    font-size: 1.5rem;
  }
  .theme-four .gallery-wrapper .gallery-list .gallery-item iframe {
    width: 100%;
    height: 100%;
  }
  */
}
@media(max-width:991.98px){
  
  .theme-four .gallery-wrapper .gallery-list2 .slick-slide {
    padding: 0 1rem;
    height: 300px;
}
}

@media (max-width: 767.98px) {
  .section-title {
    font-size: 2.5rem;
    color: var(--black);
    letter-spacing: -0.04em;
  }
  .section {
    margin: 3rem 0;
    padding: 3rem 0;
  }
  iframe{
   /* height: 400px !important;
    max-height: 400px;*/
  }
}
@media (max-width: 575.98px) {
  .section {
    margin: 2rem 0;
    padding: 2rem 0;
  }
  .primary-section-title {
    font-size: 2.4rem !important;
  }
  .theme-four .gallery-wrapper .inner-container {
    padding: 0 20px;
    top: 30%;
    width: 100%;
    left: 0;
}
}
@media (max-width: 575.98px) {
  .arrow-left,
  .arrow-right {
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: none;
    outline: none;
  }
  .arrow-left .prevIcon,
  .arrow-left .nextIcon,
  .arrow-right .prevIcon,
  .arrow-right .nextIcon {
    width: 3rem;
    height: 3rem;
  }
}