@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

.lang-svg {
  width: 2.5rem;
  height: 2.5rem;
}

.span-lang {
  display: inline-block;
  width: 8rem;
}

.page_content {
  height: auto;
  padding: 0 0 5rem 0;
}

.section {
  margin: 4rem 0;
  padding: 4rem 0;
}

.bg-light-primary {
  background-color: #e8f1f9;
}

.bg-light-color {
  background-color: #f5f5f5;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 168.4%;
  letter-spacing: -0.04em;
  color: #000;
}

.primary-section-title {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 3rem !important;
  line-height: 168.4%;
  color: #1d73bf !important;
}

.section-title-sub {
  font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  font-size: 2rem;
  line-height: 168.4%;
  color: #7b7b7b;
}

.social-icon {
  width: 5rem;
  height: 5rem;
}

.social-link {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
}

.social-item {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}

.link-item-1 {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.link-item-1:hover {
  color: #1d73bf;
}

.arrow-left,
.arrow-right {
  width: 10rem;
  height: 10rem;
  background: transparent;
  border: none;
  outline: none;
}

@media (max-width: 1199.98px) {
  .section {
    margin: 4rem 0;
    padding: 4rem 0;
  }
  .social-item {
    font-size: 13px;
    line-height: 22px;
  }
}
@media (max-width: 991.98px) {
  .social-item {
    font-size: 15px;
  }
}
@media (max-width: 767.98px) {
  .section-title {
    font-size: 2.5rem;
    color: #000;
    letter-spacing: -0.04em;
  }
  .section {
    margin: 3rem 0;
    padding: 3rem 0;
  }
  .page_content {
    padding: 0 0 8rem 0;
  }
}
@media (max-width: 575.98px) {
  .page_content {
    padding: 0 0 10rem 0;
  }
  .section {
    margin: 2rem 0;
    padding: 2rem 0;
  }
  .social-link {
    font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  }
  .social-item {
    font-size: 13px;
    line-height: 22px;
  }
  .link-item-1 {
    font-size: 13px;
    line-height: 22px;
  }
  .arrow-left,
  .arrow-right {
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: none;
    outline: none;
  }
  .arrow-left .prevIcon,
  .arrow-left .nextIcon,
  .arrow-right .prevIcon,
  .arrow-right .nextIcon {
    width: 3rem;
    height: 3rem;
  }
  .primary-section-title {
    font-size: 2.4rem !important;
  }
}
#button {
  background-color: #1d73bf;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chev-arr-up {
  width: 3rem;
  height: 3rem;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
  font-weight: bolder;
}

#button:hover {
  cursor: pointer;
  background-color: rgb(30, 101, 172);
}

#button:active {
  background-color: rgb(30, 101, 172);
}

#button.show {
  opacity: 1;
  visibility: visible;
}