:root {
  --primaryColor: #1d73bf;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #fff;
  --headerBottomBgColor: #1d73bf;
  --headerTopContentColor: #fff;
  --headingsColor: #1d73bf;
  --paragraphColor: #181818;
  --lightContentColor: #181818b2;
  --lightBgColor: #e8f1f9;
  --linksColor: #1d73bf;
  --linksHoverColor: #1d73bf;
  --menuLinksColor: #fff !important;
  --menuLinksHoverColor: #dcdcdc !important;
  --footerBackgroundColor: #092239;
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #1e549d !important;
  --firstGradientColor: #153e9b;
  --secondGradientColor: #1d73bf;
  --theme-four-main-color: var(--primaryColor);
  --font-normal: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  --font-bold: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --gray-1000: #000;
  --primaryBgColor: var(--primaryColor);
  --tertiaryBgColor: var(--lightBgColor);
  --sub-header-color: var(--lightContentColor);
  --bg-transparent: transparent;
  --loginBtnBgColor: var(--primaryColor);
  --loginBtnBgOnHover: var(--secondaryColor);
  --languageBtnBgColor: var(--lightBgColor);
  --HeroMainTextColor: var(--headingsColor);
  --heroTextColor: var(--lightContentColor);
  --test-sub-color: var(--secondaryColor);
  --strategyDescColor: var(--lightContentColor);
  --bg-color-mobile: var(--lightBgColor);
  --bg-title-color: var(--primaryColor);
  --related-website-item-bg-color: --white;
  --related-website-item-title-color: var(--lightContentColor);
  --related-website-item-visit-text-color: var(--secondaryColor);
  --contactBgColor: var(--secondaryColor);
  --inputFieldBgColor: transparent;
  --contactUsDescText: var(--lightContentColor);
  --footerBgColor: var(--footerBackgroundColor);
  --servicesBgColor: var(--tertiaryBgColor);
  --servicesMainTextColor: var(--primaryColor);
  --servicessecondaryTextColor: var(--lightContentColor);
  --ministerBgColor: var(--lightBgColor);
  --ministerMainTextColor: var(--primaryColor);
  --ministerDescTextColor: var(--paragraphColor);
  --tapsWrapperBgColor: var(--primaryBgColor);
  --sign-in-header: var(--primaryColor);
  --sign-in-desc: #757575;
  --sign-in-desc2: #757575b2;
  --input-border: var(--primaryColor);
  --input-placeholder: #afafaf;
  --input-background: #f8f8f8;
  --button-bg-primary: var(--primaryColor);
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
  --ministeryMainColor: var(--primaryColor);
  --ministerySecondaryColor: var(--lightContentColor);
  --gov-project-date-color: var(--primaryColor);
  --searchMainColor: var(--primaryColor);
  --searchResultColor: var(--primaryColor);
  --searchResultHoverColor: var(--primaryColor);
  --faqMainColor: var(--primaryColor);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}

.theme-four .ministery-projects-wrapper .dropdown-sort-button {
  background-color: transparent;
  border: none;
}
.theme-four .ministery-projects-wrapper .dropdown-toggle::after {
  width: 5px;
  height: 5px;
  vertical-align: middle;
  margin-right: 5px;
}
.theme-four .ministery-projects-wrapper .dropdown-menu ul {
  padding-top: 0;
  padding-bottom: 0;
}
.theme-four .ministery-projects-wrapper .dropdown-menu li {
  padding: 1rem 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.theme-four .ministery-projects-wrapper .dropdown-menu li:hover {
  background-color: var(--gray-300);
}
.theme-four .ministery-projects-wrapper .dropdown-menu .dropdown-item {
  text-align: right;
  padding: 0.5rem 0;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.theme-four .ministery-projects-wrapper .dropdown-menu .dropdown-item:hover {
  background-color: var(--gray-300);
}
.theme-four .ministery-projects-wrapper .ministry-projects-list {
  margin: 3rem 0 6rem 0;
}
.theme-four .ministery-projects-wrapper .ministry-projects-list .project-item .project-img {
  width: 100%;
  height: 220px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}
.theme-four .ministery-projects-wrapper .ministry-projects-list .project-item .project-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}
.theme-four .ministery-projects-wrapper .ministry-projects-list .project-item .project-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.theme-four .ministery-projects-wrapper .ministry-projects-list .project-item .project-title {
  display: inline-block;
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-size: 2rem;
  margin-bottom: 1.4rem;
  text-decoration: underline;
  color: var(--black);
  padding-right: 8px;
}
.theme-four .ministery-projects-wrapper .ministry-projects-list .project-item .project-date {
  font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  font-weight: bolder;
  font-size: 1.6rem;
  color: var(--gov-project-date-color);
  padding-right: 8px;
}
@media (max-width: 575.98px) {
  .theme-four .ministery-projects-wrapper .ministry-projects-list .project-item {
    margin-bottom: 2rem;
  }
  .theme-four .ministery-projects-wrapper .ministry-projects-list .project-item .project-title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    padding-right: 8px;
  }
  .theme-four .ministery-projects-wrapper .ministry-projects-list .project-item .project-date {
    font-size: 1.8rem;
    padding-right: 8px;
  }
}