:root {
  --primaryColor: #1d73bf;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #fff;
  --headerBottomBgColor: #1d73bf;
  --headerTopContentColor: #fff;
  --headingsColor: #1d73bf;
  --paragraphColor: #181818;
  --lightContentColor: #181818b2;
  --lightBgColor: #e8f1f9;
  --linksColor: #1d73bf;
  --linksHoverColor: #1d73bf;
  --menuLinksColor: #fff !important;
  --menuLinksHoverColor: #dcdcdc !important;
  --footerBackgroundColor: #092239;
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #1e549d !important;
  --firstGradientColor: #153e9b;
  --secondGradientColor: #1d73bf;
  --theme-four-main-color: var(--primaryColor);
  --font-normal: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  --font-bold: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --gray-1000: #000;
  --primaryBgColor: var(--primaryColor);
  --tertiaryBgColor: var(--lightBgColor);
  --sub-header-color: var(--lightContentColor);
  --bg-transparent: transparent;
  --loginBtnBgColor: var(--primaryColor);
  --loginBtnBgOnHover: var(--secondaryColor);
  --languageBtnBgColor: var(--lightBgColor);
  --HeroMainTextColor: var(--headingsColor);
  --heroTextColor: var(--lightContentColor);
  --test-sub-color: var(--secondaryColor);
  --strategyDescColor: var(--lightContentColor);
  --bg-color-mobile: var(--lightBgColor);
  --bg-title-color: var(--primaryColor);
  --related-website-item-bg-color: --white;
  --related-website-item-title-color: var(--lightContentColor);
  --related-website-item-visit-text-color: var(--secondaryColor);
  --contactBgColor: var(--secondaryColor);
  --inputFieldBgColor: transparent;
  --contactUsDescText: var(--lightContentColor);
  --footerBgColor: var(--footerBackgroundColor);
  --servicesBgColor: var(--tertiaryBgColor);
  --servicesMainTextColor: var(--primaryColor);
  --servicessecondaryTextColor: var(--lightContentColor);
  --ministerBgColor: var(--lightBgColor);
  --ministerMainTextColor: var(--primaryColor);
  --ministerDescTextColor: var(--paragraphColor);
  --tapsWrapperBgColor: var(--primaryBgColor);
  --sign-in-header: var(--primaryColor);
  --sign-in-desc: #757575;
  --sign-in-desc2: #757575b2;
  --input-border: var(--primaryColor);
  --input-placeholder: #afafaf;
  --input-background: #f8f8f8;
  --button-bg-primary: var(--primaryColor);
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
  --ministeryMainColor: var(--primaryColor);
  --ministerySecondaryColor: var(--lightContentColor);
  --gov-project-date-color: var(--primaryColor);
  --searchMainColor: var(--primaryColor);
  --searchResultColor: var(--primaryColor);
  --searchResultHoverColor: var(--primaryColor);
  --faqMainColor: var(--primaryColor);
}

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
.theme-four .services-details-wrapper {
  margin-bottom: 10rem;
}
.theme-four .services-details-wrapper h2 {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-size: 24px;
  line-height: 168.4%;
  text-align: right;
}
.theme-four .services-details-wrapper .services-details-box {
  margin-top: 2rem;
  width: 75%;
  height: auto;
  background: var(--lightBgColor);
  border-radius: 13px;
}
.theme-four .services-details-wrapper .services-details-box .services-details-content-container {
  padding: 3rem 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}
.theme-four .services-details-wrapper .services-details-box .services-details-content-container .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.theme-four .services-details-wrapper .services-details-box .services-details-content-container .content-container h6 {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-size: 16px;
  line-height: 168.4%;
  color: var(--black) !important;
}
.theme-four .services-details-wrapper .services-details-box .services-details-content-container .content-container p {
  font-size: 16px;
  line-height: 168.4%;
  letter-spacing: -0.04em;
  color: var(--lightContentColor);
  opacity: 0.8;
  margin-bottom: 2px;
}
.theme-four .services-details-wrapper .services-details-box .services-details-content-container button {
  margin-top: 1rem;
  width: 140px;
  padding: 1rem 2.4rem;
  border-radius: 6px;
  background-color: var(--primaryBgColor);
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.theme-four .services-details-wrapper .services-details-box .services-details-content-container button a {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-size: 16px;
  color: var(--white) !important;
  text-decoration: none;
}
.theme-four .services-details-wrapper .services-details-box .services-details-content-container button:hover {
  background-color: var(--secondaryColor);
}
@media (max-width: 992px) {
  .theme-four .services-details-wrapper .services-details-box {
    width: 90%;
  }
}
@media (max-width: 767.98px) {
  .theme-four .services-details-wrapper .services-details-box {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .theme-four .page-title-with-breadcrumb-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .theme-four .page-title-with-breadcrumb-container .page-breadcrumb a {
    font-size: 13px;
  }
  .theme-four .page-title-with-breadcrumb-container .page-breadcrumb .ministery-breadcrumb-speprator {
    font-size: 14px;
  }
  .theme-four .services-details-wrapper {
    margin-bottom: 10rem;
  }
  .theme-four .services-details-wrapper h2 {
    font-size: 22px;
  }
  .theme-four .services-details-wrapper .services-details-box {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    background: var(--lightBgColor);
    border-radius: 13px;
  }
  .theme-four .services-details-wrapper .services-details-box .services-details-content-container {
    padding: 3rem 2.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }
  .theme-four .services-details-wrapper .services-details-box .services-details-content-container .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .theme-four .services-details-wrapper .services-details-box .services-details-content-container .content-container h6 {
    font-size: 16px;
  }
  .theme-four .services-details-wrapper .services-details-box .services-details-content-container .content-container p {
    font-size: 16px;
    margin-bottom: 2px;
  }
  .theme-four .services-details-wrapper .services-details-box .services-details-content-container button {
    margin: 1rem auto 1rem auto;
    width: 90%;
  }
}