:root {
  --primaryColor: #1d73bf;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #fff;
  --headerBottomBgColor: #1d73bf;
  --headerTopContentColor: #fff;
  --headingsColor: #1d73bf;
  --paragraphColor: #181818;
  --lightContentColor: #181818b2;
  --lightBgColor: #e8f1f9;
  --linksColor: #1d73bf;
  --linksHoverColor: #1d73bf;
  --menuLinksColor: #fff !important;
  --menuLinksHoverColor: #dcdcdc !important;
  --footerBackgroundColor: #092239;
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #1e549d !important;
  --firstGradientColor: #153e9b;
  --secondGradientColor: #1d73bf;
  --theme-four-main-color: var(--primaryColor);
  --font-normal: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  --font-bold: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --gray-1000: #000;
  --primaryBgColor: var(--primaryColor);
  --tertiaryBgColor: var(--lightBgColor);
  --sub-header-color: var(--lightContentColor);
  --bg-transparent: transparent;
  --loginBtnBgColor: var(--primaryColor);
  --loginBtnBgOnHover: var(--secondaryColor);
  --languageBtnBgColor: var(--lightBgColor);
  --HeroMainTextColor: var(--headingsColor);
  --heroTextColor: var(--lightContentColor);
  --test-sub-color: var(--secondaryColor);
  --strategyDescColor: var(--lightContentColor);
  --bg-color-mobile: var(--lightBgColor);
  --bg-title-color: var(--primaryColor);
  --related-website-item-bg-color: --white;
  --related-website-item-title-color: var(--lightContentColor);
  --related-website-item-visit-text-color: var(--secondaryColor);
  --contactBgColor: var(--secondaryColor);
  --inputFieldBgColor: transparent;
  --contactUsDescText: var(--lightContentColor);
  --footerBgColor: var(--footerBackgroundColor);
  --servicesBgColor: var(--tertiaryBgColor);
  --servicesMainTextColor: var(--primaryColor);
  --servicessecondaryTextColor: var(--lightContentColor);
  --ministerBgColor: var(--lightBgColor);
  --ministerMainTextColor: var(--primaryColor);
  --ministerDescTextColor: var(--paragraphColor);
  --tapsWrapperBgColor: var(--primaryBgColor);
  --sign-in-header: var(--primaryColor);
  --sign-in-desc: #757575;
  --sign-in-desc2: #757575b2;
  --input-border: var(--primaryColor);
  --input-placeholder: #afafaf;
  --input-background: #f8f8f8;
  --button-bg-primary: var(--primaryColor);
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
  --ministeryMainColor: var(--primaryColor);
  --ministerySecondaryColor: var(--lightContentColor);
  --gov-project-date-color: var(--primaryColor);
  --searchMainColor: var(--primaryColor);
  --searchResultColor: var(--primaryColor);
  --searchResultHoverColor: var(--primaryColor);
  --faqMainColor: var(--primaryColor);
}

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
.section {
  padding: 6rem 0;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 168.4%;
  letter-spacing: -0.04em;
  color: var(--black);
}

.primary-section-title {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 3rem !important;
  line-height: 168.4%;
}

.social-icon {
  width: 5rem;
  height: 5rem;
}

.social-link {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
}

.social-item {
  color: var(--white);
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}

.link-item-1 {
  color: var(--white);
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.link-item-1:hover {
  color: var(--primaryBgColor);
}

.services-page-container {
  margin: 6rem 0;
  height: auto;
}
.services-page-container .services-header-container .services-header h2 {
  font-family: var(--font-bold);
  font-size: 3rem;
  line-height: 168.4%;
  color: var(--primaryBgColor);
}

.services-wrapper {
  margin-top: 3rem;
}
.services-wrapper .services-list-container .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background-color: #f3f8fc;
  border-radius: 7px;
  padding: 3rem 1.2rem;
}
.services-wrapper .services-list-container .services-list .services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.services-wrapper .services-list-container .services-list .services-item a {
  padding: 1.5rem 2rem;
  border-radius: 12px;
  font-size: 1.8rem;
  color: #4a8fcc;
  text-decoration: none;
  width: 100%;
}
.services-wrapper .services-list-container .services-list .services-item a.active {
  color: var(--white) !important;
  background-color: var(--primaryBgColor);
}

.citizens-services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.citizens-services-wrapper .citizens-services-item {
  width: 20rem;
  height: 15rem;
  border-radius: 2.4rem;
  background-color: #f3f8fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.citizens-services-wrapper .citizens-services-item:hover {
  background-color: #e4f3ff;
}
.citizens-services-wrapper .citizens-services-item .citizen-services-item-title {
  font-family: var(--font-bold);
  font-size: 1.6rem;
  line-height: 168.4%;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--primaryBgColor);
  text-decoration: none;
}

.tourist-activities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--gray-900) !important;
}
.tourist-activities-wrapper .tourist-activities-item {
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  padding-top: 0;
}
.tourist-activities-wrapper .tourist-activities-item .img-wrapper {
  width: 40rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 1.6rem;
}
.tourist-activities-wrapper .tourist-activities-item .img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tourist-activities-wrapper .tourist-activities-item .img-wrapper img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.tourist-activities-wrapper .tourist-activities-item a {
  font-family: var(--font-normal);
  font-size: 1.8rem;
  line-height: 168.4%;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--gray-900);
  text-decoration: none;
  padding-right: 1rem;
}

.general-adm-wrapper p {
  font-family: var(--font-normal);
  font-size: 1.8rem;
  line-height: 42px;
  color: var(--gray-900) !important;
}
.general-adm-wrapper p strong {
  font-family: var(--font-bold);
}
.general-adm-wrapper .general-adm-activities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.general-adm-wrapper .general-adm-activities-wrapper h2 {
  font-family: var(--font-bold);
  font-size: 1.8rem;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.76);
}
.general-adm-wrapper .general-adm-activities-wrapper .general-adm-ordered-list {
  padding-right: 2rem;
}
.general-adm-wrapper .general-adm-activities-wrapper .general-adm-ordered-list .general-adm-list-item {
  font-family: var(--font-normal);
  font-size: 1.8rem;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.76);
}

.text-ordered-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.3rem;
}
.text-ordered-list li {
  font-family: var(--font-normal);
  font-size: 1.8rem;
  line-height: 42px;
  color: var(--gray-900) !important;
}

.investment-question-title {
  font-family: var(--font-bold);
  font-size: 2rem;
  line-height: 4rem;
  color: var(--gray-900) !important;
}

.investment-question-answer {
  color: var(--gray-900) !important;
  font-size: 1.8rem;
  line-height: 4.2rem;
  color: rgba(0, 0, 0, 0.76);
}

@media (max-width: 1399.98px) {
  .tourist-activities-wrapper .tourist-activities-item .img-wrapper {
    width: 35rem;
    height: 15rem;
  }
}
@media (max-width: 1199.98px) {
  .tourist-activities-wrapper .tourist-activities-item .img-wrapper {
    width: 30rem;
    height: 15rem;
  }
}
@media (max-width: 991.98px) {
  .citizens-services-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
  }
  .services-list-container .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    gap: 1rem;
    background-color: #f3f8fc;
    border-radius: 7px;
    padding: 3rem 1.2rem;
    margin-bottom: 2rem;
  }
  .tourist-activities-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tourist-activities-wrapper .tourist-activities-item .img-wrapper {
    width: 33rem;
    height: 20rem;
  }
}
@media (max-width: 767.98px) {
  .services-wrapper {
    margin-top: 3rem;
  }
  .services-wrapper .services-list-container .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    background-color: #f3f8fc;
    border-radius: 7px;
    padding: 3rem 1.2rem;
  }
  .services-wrapper .services-list-container .services-list .services-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services-wrapper .services-list-container .services-list .services-item a {
    padding: 1.5rem 1.3rem;
    border-radius: 12px;
    font-size: 1.6rem;
    color: #4a8fcc;
    text-decoration: none;
    width: 100%;
  }
  .services-wrapper .services-list-container .services-list .services-item a.active {
    color: var(--white) !important;
    background-color: var(--primaryBgColor);
  }
  .citizens-services-wrapper .citizens-services-item {
    width: 25rem;
    height: 15rem;
  }
  .citizens-services-wrapper .citizens-services-item .citizen-services-item-svgIcon {
    height: 4.7rem;
    width: 4.7rem;
  }
  .tourist-activities-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tourist-activities-wrapper .tourist-activities-item .img-wrapper {
    width: 25rem;
    height: 15rem;
  }
}
@media (max-width: 575.98px) {
  .services-list-container .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    gap: 1rem;
  }
  .citizens-services-wrapper .citizens-services-item {
    width: 95%;
    height: 15rem;
    margin: 0 auto;
  }
  .citizens-services-wrapper .citizens-services-item .citizen-services-item-svgIcon {
    height: 4.7rem;
    width: 4.7rem;
  }
  .tourist-activities-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
  }
  .tourist-activities-wrapper .tourist-activities-item {
    width: 100%;
  }
  .tourist-activities-wrapper .tourist-activities-item .img-wrapper {
    width: 95%;
    height: 15rem;
    margin: 0 auto;
  }
  .text-ordered-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.3rem;
    padding-right: 2.3rem;
  }
  .text-ordered-list li {
    font-family: var(--font-normal);
    font-size: 1.5rem;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.76);
  }
  .investment-question-title {
    font-family: var(--font-bold);
    font-size: 1.6rem;
    line-height: 4rem;
    color: rgba(0, 0, 0, 0.76);
  }
  .investment-question-answer {
    font-family: var(--font-normal);
    font-size: 1.4rem;
    line-height: 4.2rem;
    color: rgba(0, 0, 0, 0.76);
  }
  .general-adm-wrapper p {
    font-family: var(--font-normal);
    font-size: 1.8rem;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.76);
  }
  .general-adm-wrapper p strong {
    font-family: var(--font-bold);
  }
  .general-adm-wrapper .general-adm-activities-wrapper .general-adm-ordered-list .general-adm-list-item {
    font-family: var(--font-normal);
    font-size: 1.6rem;
  }
}
@media (max-width: 767.98px) {
  .section-title {
    font-size: 2.5rem;
    color: var(--black);
    letter-spacing: -0.04em;
  }
  .section {
    padding: 5rem 0;
  }
}
@media (max-width: 575.98px) {
  .section {
    padding: 4rem 0;
  }
  .primary-section-title {
    font-size: 2.4rem !important;
  }
}
@media (max-width: 575.98px) {
  .social-link {
    font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  }
  .social-item {
    font-size: 13px;
    line-height: 22px;
  }
  .link-item-1 {
    font-size: 13px;
    line-height: 22px;
  }
}