:root {
  --primaryColor: #1d73bf;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #fff;
  --headerBottomBgColor: #1d73bf;
  --headerTopContentColor: #fff;
  --headingsColor: #1d73bf;
  --paragraphColor: #181818;
  --lightContentColor: #181818b2;
  --lightBgColor: #e8f1f9;
  --linksColor: #1d73bf;
  --linksHoverColor: #1d73bf;
  --menuLinksColor: #fff !important;
  --menuLinksHoverColor: #dcdcdc !important;
  --footerBackgroundColor: #092239;
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #1e549d !important;
  --firstGradientColor: #153e9b;
  --secondGradientColor: #1d73bf;
  --theme-four-main-color: var(--primaryColor);
  --font-normal: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  --font-bold: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --gray-1000: #000;
  --primaryBgColor: var(--primaryColor);
  --tertiaryBgColor: var(--lightBgColor);
  --sub-header-color: var(--lightContentColor);
  --bg-transparent: transparent;
  --loginBtnBgColor: var(--primaryColor);
  --loginBtnBgOnHover: var(--secondaryColor);
  --languageBtnBgColor: var(--lightBgColor);
  --HeroMainTextColor: var(--headingsColor);
  --heroTextColor: var(--lightContentColor);
  --test-sub-color: var(--secondaryColor);
  --strategyDescColor: var(--lightContentColor);
  --bg-color-mobile: var(--lightBgColor);
  --bg-title-color: var(--primaryColor);
  --related-website-item-bg-color: --white;
  --related-website-item-title-color: var(--lightContentColor);
  --related-website-item-visit-text-color: var(--secondaryColor);
  --contactBgColor: var(--secondaryColor);
  --inputFieldBgColor: transparent;
  --contactUsDescText: var(--lightContentColor);
  --footerBgColor: var(--footerBackgroundColor);
  --servicesBgColor: var(--tertiaryBgColor);
  --servicesMainTextColor: var(--primaryColor);
  --servicessecondaryTextColor: var(--lightContentColor);
  --ministerBgColor: var(--lightBgColor);
  --ministerMainTextColor: var(--primaryColor);
  --ministerDescTextColor: var(--paragraphColor);
  --tapsWrapperBgColor: var(--primaryBgColor);
  --sign-in-header: var(--primaryColor);
  --sign-in-desc: #757575;
  --sign-in-desc2: #757575b2;
  --input-border: var(--primaryColor);
  --input-placeholder: #afafaf;
  --input-background: #f8f8f8;
  --button-bg-primary: var(--primaryColor);
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
  --ministeryMainColor: var(--primaryColor);
  --ministerySecondaryColor: var(--lightContentColor);
  --gov-project-date-color: var(--primaryColor);
  --searchMainColor: var(--primaryColor);
  --searchResultColor: var(--primaryColor);
  --searchResultHoverColor: var(--primaryColor);
  --faqMainColor: var(--primaryColor);
}

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
.section {
  padding: 6rem 0;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 168.4%;
  letter-spacing: -0.04em;
  color: var(--black);
}

.primary-section-title {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 3rem !important;
  line-height: 168.4%;
}

.theme-four .eight h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  color: var(--black);
  letter-spacing: -0.04em;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.theme-four .eight h1:after,
.theme-four .eight h1:before {
  content: " ";
  padding-top: 10px;
  display: block;
  border-bottom: 1px solid #e0e0e0;
}
.theme-four .testmonial-content-container {
  margin-top: 5rem;
  margin-bottom: 1rem;
  background-color: var(--tertiaryBgColor);
}
.theme-four .testmonial-content-container .test-content-row {
  padding: 4rem;
}
.theme-four .testmonial-content-container .test-content-row .test-img-contain {
  overflow: hidden;
  border-radius: 8px;
}
.theme-four .testmonial-content-container .test-content-row .img-test {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.theme-four .testmonial-content-container .test-content-row .img-test:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.theme-four .testmonial-content-container .test-content-row .test-left-content {
  margin: 5rem 0;
}
.theme-four .testmonial-content-container .test-content-row .test-auth {
  color: var(--test-sub-color);
  font-family: "Helvetica Neue LT Arabic";
  font-size: 24px;
  line-height: 125%;
}
.theme-four .testmonial-content-container .test-content-row .test-desc {
  color: var(--primaryBgColor);
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-style: normal;
  font-size: 3.1rem;
  line-height: 125%;
  text-align: justify;
}
.theme-four .testmonial-content-container .test-content-row .test-date {
  font-family: "Helvetica Neue LT Arabic";
  font-size: 16px;
  color: var(--test-sub-color);
}
@media (max-width: 1199.98px) {
  .theme-four .test-content-row {
    padding: 3rem !important;
  }
  .theme-four .test-auth {
    font-size: 18px !important;
    line-height: 135%;
  }
  .theme-four .test-date {
    font-size: 16px !important;
  }
  .theme-four .test-desc {
    font-size: 2rem !important;
    line-height: 160%;
    text-align: center !important;
    letter-spacing: 0.5px;
  }
}
@media (max-width: 991.98px) {
  .theme-four .test-content-row {
    padding: 2.5rem !important;
  }
  .theme-four .test-auth {
    font-size: 18px !important;
    line-height: 125%;
  }
  .theme-four .test-date {
    font-size: 14px !important;
  }
  .theme-four .test-desc {
    font-size: 2.3rem !important;
    line-height: 150%;
    text-align: center !important;
  }
}
@media (max-width: 767.98px) {
  .theme-four .eight h1 {
    font-size: 2.5rem;
    color: var(--black);
    letter-spacing: -0.04em;
  }
  .theme-four .test-content-row {
    padding: 4rem 1rem 1rem 1rem !important;
  }
  .theme-four .test-auth {
    font-size: 20px !important;
    line-height: 125%;
  }
  .theme-four .test-date {
    font-size: 14px !important;
  }
  .theme-four .test-desc {
    font-size: 2.6rem !important;
    line-height: 150%;
    text-align: center !important;
  }
  .theme-four .testmonial-content-container .test-content-row .img-test {
    height: 22rem;
  }
  .theme-four .test-left-content {
    margin: 2.5rem 0;
  }
}

@media (max-width: 767.98px) {
  .section-title {
    font-size: 2.5rem;
    color: var(--black);
    letter-spacing: -0.04em;
  }
  .section {
    padding: 5rem 0;
  }
}
@media (max-width: 575.98px) {
  .section {
    padding: 4rem 0;
  }
  .primary-section-title {
    font-size: 2.4rem !important;
  }
}