:root {
  --primaryColor: #1d73bf;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #fff;
  --headerBottomBgColor: #1d73bf;
  --headerTopContentColor: #fff;
  --headingsColor: #1d73bf;
  --paragraphColor: #181818;
  --lightContentColor: #181818b2;
  --lightBgColor: #e8f1f9;
  --linksColor: #1d73bf;
  --linksHoverColor: #1d73bf;
  --menuLinksColor: #fff !important;
  --menuLinksHoverColor: #dcdcdc !important;
  --footerBackgroundColor: #092239;
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #1e549d !important;
  --firstGradientColor: #153e9b;
  --secondGradientColor: #1d73bf;
  --theme-four-main-color: var(--primaryColor);
  --font-normal: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  --font-bold: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --gray-1000: #000;
  --primaryBgColor: var(--primaryColor);
  --tertiaryBgColor: var(--lightBgColor);
  --sub-header-color: var(--lightContentColor);
  --bg-transparent: transparent;
  --loginBtnBgColor: var(--primaryColor);
  --loginBtnBgOnHover: var(--secondaryColor);
  --languageBtnBgColor: var(--lightBgColor);
  --HeroMainTextColor: var(--headingsColor);
  --heroTextColor: var(--lightContentColor);
  --test-sub-color: var(--secondaryColor);
  --strategyDescColor: var(--lightContentColor);
  --bg-color-mobile: var(--lightBgColor);
  --bg-title-color: var(--primaryColor);
  --related-website-item-bg-color: --white;
  --related-website-item-title-color: var(--lightContentColor);
  --related-website-item-visit-text-color: var(--secondaryColor);
  --contactBgColor: var(--secondaryColor);
  --inputFieldBgColor: transparent;
  --contactUsDescText: var(--lightContentColor);
  --footerBgColor: var(--footerBackgroundColor);
  --servicesBgColor: var(--tertiaryBgColor);
  --servicesMainTextColor: var(--primaryColor);
  --servicessecondaryTextColor: var(--lightContentColor);
  --ministerBgColor: var(--lightBgColor);
  --ministerMainTextColor: var(--primaryColor);
  --ministerDescTextColor: var(--paragraphColor);
  --tapsWrapperBgColor: var(--primaryBgColor);
  --sign-in-header: var(--primaryColor);
  --sign-in-desc: #757575;
  --sign-in-desc2: #757575b2;
  --input-border: var(--primaryColor);
  --input-placeholder: #afafaf;
  --input-background: #f8f8f8;
  --button-bg-primary: var(--primaryColor);
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
  --ministeryMainColor: var(--primaryColor);
  --ministerySecondaryColor: var(--lightContentColor);
  --gov-project-date-color: var(--primaryColor);
  --searchMainColor: var(--primaryColor);
  --searchResultColor: var(--primaryColor);
  --searchResultHoverColor: var(--primaryColor);
  --faqMainColor: var(--primaryColor);
}

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
.section {
  padding: 6rem 0;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 168.4%;
  letter-spacing: -0.04em;
  color: var(--black);
}

.primary-section-title {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 3rem !important;
  line-height: 168.4%;
}

.theme-four .topics-wrapper {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  width: 100%;
  height: 100%;
  margin-bottom: 10rem;
}
.theme-four .tabs-list-wrapper {
  width: 100%;
  background-color: var(--tapsWrapperBgColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  height: 90%;
}
.theme-four .tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  gap: 4rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: start;
}
.theme-four .tabs-list li:nth-child(1) {
  color: #ffffff;
  font-size: 2.25rem;
}
.theme-four .tabs-list a {
  color: #ffffff;
  font-size: 2.25rem;
  text-decoration: none;
  display: block;
  width: 100%;
}
.theme-four .tabs-list li {
  padding: 1.5rem 1rem;
}
.theme-four .tab-content {
  min-height: 100%;
  background-color: #f8f8f8;
}
.theme-four .tab-pane {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 3rem;
  color: #15558c;
}
.theme-four .tab-pane-item {
  padding: 1.2rem 0;
}
.theme-four .tab-pane-item h3 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.theme-four .tab-pane-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #15558c;
}
.theme-four .tab-pane-item div a {
  color: #15558c;
  text-decoration: none;
}
.theme-four .tab-pane-item p {
  font-size: 1.75rem;
}
.theme-four .tabs-list-item-active {
  border-right: 3px solid #fff;
  position: relative;
}
.theme-four .tabs-list-item-active::before {
  content: "";
  position: absolute;
  right: 91%;
  top: 63%;
  background-color: #fff;
  width: 8.5rem;
  height: 1px;
}
@media (max-width: 1199.98px) {
  .theme-four .topics-wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }
  .theme-four .tabs-list-wrapper {
    height: 100%;
  }
  .theme-four .tabs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: start;
  }
  .theme-four .tabs-list li {
    padding: 1rem 2rem;
  }
  .theme-four .tabs-list li a {
    color: #ffffff;
    font-size: 2.4rem;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .theme-four .tabs-list-item-active {
    border-right: 0 solid #fff;
    position: relative;
  }
  .theme-four .tabs-list-item-active::before {
    content: "";
    position: absolute;
    right: 0;
    top: 123%;
    background-color: #fff;
    width: 100%;
    height: 7px;
  }
}
@media (max-width: 991.98px) {
  .theme-four .tab-pane-item {
    padding: 1.2rem 0;
  }
  .theme-four .tab-pane-item h3 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  .theme-four .tab-pane-item div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #15558c;
  }
  .theme-four .tab-pane-item p {
    font-size: 1.75rem;
  }
  .theme-four .tabs-list {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: start;
  }
  .theme-four .tabs-list li {
    padding: 1rem 1.2rem;
  }
  .theme-four .tabs-list li a {
    font-size: 2rem;
  }
  .theme-four .tabs-list-item-active::before {
    top: 127%;
  }
}
@media (max-width: 767.98px) {
  .theme-four .tab-pane {
    padding: 2rem 3rem;
  }
  .theme-four .tabs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: start;
    gap: 3.5rem;
  }
  .theme-four .tabs-list li {
    padding: 0.8rem 0.5rem;
  }
  .theme-four .tabs-list li a {
    color: #ffffff;
    font-size: 1.8rem;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .theme-four .tabs-list-item-active {
    border-right: 0 solid #fff;
    position: relative;
  }
  .theme-four .tabs-list-item-active::before {
    content: "";
    position: absolute;
    right: 0;
    top: 110%;
    background-color: #fff;
    width: 100%;
    height: 3px;
  }
  .theme-four .tab-pane-item {
    padding: 1.2rem 0;
  }
  .theme-four .tab-pane-item p {
    width: 85%;
    font-size: 1.6rem;
  }
}
@media (max-width: 575.98px) {
  .theme-four .tabs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: start;
    gap: 1.8rem;
  }
  .theme-four .tabs-list li {
    padding: 0.8rem 0.5rem;
  }
  .theme-four .tabs-list li a {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .theme-four .tabs-list-item-active {
    border-right: 0 solid #fff;
    position: relative;
  }
  .theme-four .tabs-list-item-active::before {
    content: "";
    position: absolute;
    right: 0;
    top: 110%;
    background-color: #fff;
    width: 100%;
    height: 3px;
  }
  .theme-four .tab-pane-item {
    padding: 1.2rem 0;
  }
  .theme-four .tab-pane-item p {
    width: 85%;
    font-size: 1.6rem;
  }
}

@media (max-width: 767.98px) {
  .section-title {
    font-size: 2.5rem;
    color: var(--black);
    letter-spacing: -0.04em;
  }
  .section {
    padding: 5rem 0;
  }
}
@media (max-width: 575.98px) {
  .section {
    padding: 4rem 0;
  }
  .primary-section-title {
    font-size: 2.4rem !important;
  }
}
@media (max-width: 575.98px) {
  .social-link {
    font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  }
  .social-item {
    font-size: 13px;
    line-height: 22px;
  }
  .link-item-1 {
    font-size: 13px;
    line-height: 22px;
  }
  .theme-four .tabs-list{
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: flex-start;
    padding-bottom: 6px;
    padding-top: 0;
    overflow-y: hidden;
    gap: 1rem;
  }
  .theme-four .tabs-list li {
    min-width: fit-content;
}
}
@media(max-width:400px){
  .theme-four .tabs-list li a{
    font-size: 13px;
  }
}