
.data-table-wrapper {
  padding: 7rem 0 15rem 0;
  margin-top: 8rem;
  overflow-x: scroll;
}

.table > thead {
  background-color: #0081c41a ;
  color: #0d3770 ;
  padding: 1.5rem 4rem !important;
}

.table > :not(caption) > * > * {
  font-size: 1.8rem !important;
  padding: 2.5rem 4rem !important;
  color: #181818 ;
}

.data-table-header-row {
  padding: 1.5rem 4rem !important;
}
.data-table-header-row th {
  color: #4675EF ;
}

.table-body tr:nth-child(even) {
  border-style: none !important;
  background-color: #f6f6f6 !important;
}

body > main > div.data-table-wrapper.container-fluid.mx-0.px-0.bg-white > div > table > thead {
  border-style: none !important;
}

@media (max-width: 1100px) {
  .table > :not(caption) > * > * {
    font-size: 1.4rem !important;
    padding: 1.8rem 2.5rem !important;
  }
}
@media (max-width: 570px) {
  .table > :not(caption) > * > * {
    font-size: 1.1rem !important;
    padding: 1.5rem 0.5rem !important;
  }
  .table > :not(caption) > * > * > svg{
    max-width:45px
  }
}
