:root {
  --primaryColor: #4675ef;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #1e549d;
  --headerBottomBgColor: #fff;
  --headerTopContentColor: #18191f;
  --headingsColor: #4675ef;
  --paragraphColor: #181818;
  --lightContentColor: #181818;
  --lightBgColor: #f5f5f5;
  --linksColor: #0d3770;
  --linksHoverColor: #0d3770;
  --menuLinksColor: #18191f !important;
  --menuLinksHoverColor: #4675ef !important;
  --footerBackgroundColor: #4675ef;
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #1e549d !important;
  --firstGradientColor: #153e9b;
  --secondGradientColor: #0d3770;
  --theme-one-main-color: #4675ef;
  --white: #fff;
  --black: #000;
  --gray_text: var(--lightContentColor);
  --gray_text2: var(--lightContentColor);
  --red: #f34a3f;
  --green: #55c574;
  --blue: #4675ef;
  --bg_color: var(--primaryColor);
  --sign-in-desc: #606060;
  --sign-in-desc2: #757575b2;
  --input-border: #4675ef;
  --input-placeholder: #868e96;
  --input-background: #f8f8f8;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
}
@font-face {
  font-family: "Tajawal-Bold";
  src: url(../../fonts/Tajawal/Helvetica-bold.ttf);
}
@font-face {
  font-family: "Tajawal-Regular";
  src: url(../../fonts/Tajawal/Helvetica-normal.ttf);
}

.page-mask {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(24, 24, 24, 0.3);
  z-index: 9;
}

.gallary_desc h3 {
  font-family: "Tajawal-Bold";
  font-size: 32px;
  color: var(--bg_color);
}
.gallary_desc p {
  font-family: "Tajawal-Regular";
  font-size: 18px;
  color: var(--lightContentColor);
  opacity: 0.8;
  width: 100%;
  max-width: 400px;
  margin-top: 15px;
}

.single_gallary .img_container {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
  height: 208px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}
.single_gallary .img_container img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  /*-o-object-fit: cover;
     object-fit: cover;*/
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
  overflow: hidden;
}
.single_gallary .img_container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.single_gallary .img_container span {
  display: none;
  position: absolute;
  top: 81px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background-color: var(--bg_color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
}
.single_gallary .img_container:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
}
.single_gallary .img_container:hover:after {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.single_gallary h5,
.single_gallary p {
  font-size: 20px;
  color: var(--gray_text) !important;
}
.single_gallary p {
  opacity: 0.6;
}