.page_desc h3 {
  font-family: "Tajawal-Bold";
  color: var(--headingsColor);
  font-size: 32px;
}
.page_desc p {
  font-size: 18px;
  color: var(var--gray_text);
}

.link_desc h3 {
  font-family: "Tajawal-Bold";
  color: var(--gray_text);
  font-size: 24px;
}
.link_desc p {
  font-size: 18px;
  color: var(--gray_text);
}

.pages_link {
  background: rgba(70, 117, 239, 0.08);
  border-radius: 16px;
  height: 85px;
  padding: 16px 0;
}
.pages_link span {
  color: var(--black);
  font-size: 20px;
  text-align: center;
  height: 53px;
  line-height: 53px;
}
.pages_link .slick-current span {
  background: var(--bg_color);
  border-radius: 16px;
  color: var(--white);
}

@media (max-width: 767px) {
  .pages_link span {
    font-size: 16px;
  }
}
@media (max-width: 460px) {
  .pages_link span {
    font-size: 12px;
    height: 45px;
    line-height: 45px;
  }
}