@import "variables";
@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}
.section {
  // margin: 4rem 0;
  padding: 6rem 0;
}
.section-title {
  width: fit-content;
  padding: 1rem 2rem;
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  // font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  // font-family: "Helvetica Neue LT Arabic", sans-serif;
  // font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 168.4%;
  letter-spacing: -0.04em;
  color: var(--black);
}

.primary-section-title {
  font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
  font-size: 3rem !important;
  line-height: 168.4%;
  color: var(--primaryBgColor) !important;
}

.theme-four {
  .subscribe-to-newsletter {
    border-top: 10px solid #f5f6f7;
    margin: 5rem 0 0 0;
    .subscribe-to-newsletter-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 6rem;
      padding: 5rem 1.2rem;
      .subscribe-left {
      }
      .subscribe-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        .email-btn {
          width: 40rem;
          padding: 2rem 4rem;
          border-radius: 4rem;
          background-color: var(--bg-transparent);
          border: 1px solid var(--black);
          font-size: 1.8rem;
          color: #00000070;
          transition: all 0.3s ease-in-out;
          text-align: center;
          &:hover {
            background-color: var(--gray-200);
            color: #00000070;
          }
          &:focus {
            outline: 1px solid var(--primaryBgColor);
          }
        }
        .subscribe-btn {
          width: 40rem;
          padding: 2rem 4rem;
          border-radius: 4rem;
          background-color: var(--contactBgColor);
          border: none;
          font-size: 1.8rem;
          color: var(--white);
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: var(--primaryBgColor);
          }
        }
      }
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 576px) {
    .subscribe-to-newsletter {
      border-top: 10px solid #f5f6f7;
      margin: 1rem 0 5rem 0;
      .subscribe-to-newsletter-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        padding: 5rem 1.2rem;
        .subscribe-left {
        }
        .subscribe-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 3rem;

          .email-btn {
            width: 30rem;
            padding: 2rem 4rem;

            font-size: 1.8rem;
          }
          .subscribe-btn {
            width: 30rem;
            padding: 2rem 4rem;

            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .section-title {
    font-size: 2.5rem;
    color: var(--black);
    letter-spacing: -0.04em;
  }
  .section {
    // margin: 3rem 0;
    padding: 5rem 0;
  }
}
@media (max-width: 575.98px) {
  .section {
    // margin: 2rem 0;
    padding: 4rem 0;
  }
  .primary-section-title {
    font-size: 2.4rem !important;
  }
}
