@import "variables";

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url(../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
}
@font-face {
  font-family: "HelveticaNeueLT Arabic 75 Bold";
  src: url(../fonts/HelveticaNeueLT-Arabic-75-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headingsColor) !important;
}

p {
  color: var(--paragraphColor);
}

a {
  color: var(--linksColor);
  text-decoration: none;
  &:hover {
    color: var(--linksHoverColor);
    text-decoration: none;
  }
}

::selection {
  background-color: var(--primaryColor);
  color: #fff;
}

.page_content {
  height: auto;
  // padding: 0 0 60rem 0;
  padding: 0 0 5rem 0;
}

.back-top-btn {
  // display: inline-block;
  background-color: var(--primaryBgColor);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chev-arr-up {
  width: 3rem;
  height: 3rem;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
  font-weight: bolder;
}
.back-top-btn:hover {
  cursor: pointer;
  background-color: rgb(30, 101, 172);
}
.back-top-btn:active {
  background-color: rgb(30, 101, 172);
}
.back-top-btn.show {
  opacity: 1;
  visibility: visible;
}

//END THME 4 STRUCUTRE

// .lang-svg {
//   width: 2.5rem;
//   height: 2.5rem;
//   // margin-right: 10px;
// }
// .span-lang {
//   display: inline-block;
//   // background-color: red;
//   width: 8rem;
// }

// .bg-light-color {
//   background-color: var(--bg-color-mobile);
// }

// .section {
//   margin: 4rem 0;
//   padding: 4rem 0;
// }
// .section-title {
//   width: fit-content;
//   padding: 1rem 2rem;
//   font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
//   // font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
//   // font-family: "Helvetica Neue LT Arabic", sans-serif;
//   // font-style: normal;
//   font-weight: 700;
//   font-size: 3.2rem;
//   line-height: 168.4%;
//   letter-spacing: -0.04em;
//   color: var(--black);
// }

// .primary-section-title {
//   font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif !important;
//   font-size: 3rem !important;
//   line-height: 168.4%;
//   color: var(--primaryBgColor) !important;
// }
// .section-title-sub {
//   font-family: "HelveticaNeueLT Arabic 55 Roman", sans-serif;
//   // font-weight: 400;
//   font-size: 2rem;
//   line-height: 168.4%;
//   // letter-spacing: -0.04em;
//   color: var(--sub-header-color);
// }

// .social-icon {
//   width: 5rem;
//   height: 5rem;
// }

// .social-link {
//   font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
// }

// .social-item {
//   color: var(--white);
//   font-size: 16px;
//   line-height: 30px;
//   text-decoration: none;
// }

// .link-item-1 {
//   color: var(--white);
//   font-size: 16px;
//   line-height: 30px;
//   text-decoration: none;
//   transition: all 0.3s ease-in-out;
//   &:hover {
//     color: var(--primaryBgColor);
//   }
// }

// .arrow-left,
// .arrow-right {
//   width: 10rem;
//   height: 10rem;
//   background: transparent;
//   border: none;
//   outline: none;
// }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  // .section {
  //   margin: 4rem 0;
  //   padding: 4rem 0;
  // }
  // .social-item {
  //   font-size: 13px;
  //   line-height: 22px;
  // }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  // .social-item {
  //   font-size: 15px;
  // }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  // .section-title {
  //   font-size: 2.5rem;
  //   color: var(--black);
  //   letter-spacing: -0.04em;
  // }
  // .section {
  //   margin: 3rem 0;
  //   padding: 3rem 0;
  // }
  .page_content {
    // padding: 0 0 90rem 0;
    padding: 0 0 8rem 0;
    // margin: 10rem 0 120rem 0;
  }
}
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .page_content {
    // padding: 0 0 115rem 0;
    padding: 0 0 10rem 0;
    // margin: 10rem 0 120rem 0;
  }
  // .section {
  //   margin: 2rem 0;
  //   padding: 2rem 0;
  // }

  // .social-link {
  //   font-family: "HelveticaNeueLT Arabic 75 Bold", sans-serif;
  // }

  // .social-item {
  //   font-size: 13px;
  //   line-height: 22px;
  // }

  // .link-item-1 {
  //   font-size: 13px;
  //   line-height: 22px;
  // }
  // .arrow-left,
  // .arrow-right {
  //   width: 5rem;
  //   height: 5rem;
  //   background: transparent;
  //   border: none;
  //   outline: none;
  //   .prevIcon,
  //   .nextIcon {
  //     width: 3rem;
  //     height: 3rem;
  //   }
  // }

  // .primary-section-title {
  //   font-size: 2.4rem !important;
  // }
}
