// import fonts
@font-face {
  font-family: "Tajawal-Bold";
  // src: url(../../src/fonts/Tajawal/Helvetica-bold.ttf);
  src: url(../fonts/Helvetica-bold.ttf);
}
@font-face {
  font-family: "Tajawal-Regular";
  // src: url(../../src/fonts/Tajawal/Helvetica-normal.ttf);
  src: url(../fonts/Helvetica-normal.ttf);
}

// fonts variables
