@import "variables";
@import "fonts";
@import url(../scss/index-related-websites.scss);
.service_form {
  background: var(--white);
  border: 2px solid #e8e8e8;
  border-radius: 16px;
  padding: 50px;
  margin-bottom: 142px;
  h3 {
    font-family: "Tajawal-Bold";
    color: var(--headingsColor);
    font-size: 24px;
  }
  p {
    font-size: 18px;
    color: var(--gray_text);
  }
  form {
    label {
      font-size: 18px;
      color: var(--black);
      margin-bottom: 10px;
    }
    input {
      height: 56px;
      line-height: 56px;
      background: #f8f8f8;
      border-radius: 16px;
      font-size: 18px;
      color: var(--gray_text);
      &:focus {
        border: 1.5px solid var(--bg_color);
        box-shadow: none;
        color: var(--gray_text);
      }
    }
    .dropdown {
      .dropdown-toggle {
        height: 56px;
        background: #f8f8f8;
        border-color: #f8f8f8;
        border-radius: 16px;
        width: 100%;
        font-size: 18px;
        color: #afafaf;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &[aria-expanded="true"] {
          z-index: 9;
          position: relative;
        }
        &:focus {
          box-shadow: none;
          border: 1.5px solid var(--bg_color);
          color: var(--gray_text);
        }
        &.selected {
          color: var(--gray_text);
          &:before {
            content: url(../../src/images/theme1/check.png);
            position: absolute;
            top: 55%;
            left: 50px;
            transform: translateY(-50%);
          }
        }
        &:after {
          display: none;
        }
      }

      .dropdown-menu {
        width: 100%;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 16px 16px;
        padding: 10px 8px;
        top: -10px !important;
        z-index: 1;
        border: none;
        .dropdown-item {
          height: 56px;
          display: flex;
          align-items: center;
          &:hover {
            background: #f7f7f7;
            border-radius: 16px;
          }
        }
      }
    }
    a {
      font-weight: 500;
      font-size: 20px;
      color: var(--gray_text);
      text-decoration: none;
      &.next_btn {
        width: 149px;
        height: 56px;
        background-color: var(--bg_color);
        color: var(--white);
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.back_btn {
        width: 50px;
        height: 50px;
        background: #f2f2f2;
        border-radius: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

// mobile
@media (max-width: 767px) {
  .service_form {
    padding: 20px;
    margin-bottom: 50px;
  }
}
