@import "variables";

.files-menu {
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  padding: 16px;
  form {
    .input-group {
      height: 42px;
      input {
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        &:focus {
          box-shadow: none;
        }
      }
      .input-group-text {
        background: var(--primaryColor);
        color: var(--white);
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
      }
      ::placeholder {
        color: var(--gray_text);
        opacity: 0.5;
      }
    }
  }
  ul {
    li {
      a {
        display: flex;
        height: 36px;
        padding-right: 20px;
        text-decoration: none;
        color: var(--black);
        opacity: 0.5;
        font-size: 20px;
        position: relative;
        margin: 25px 0;
      }
      &.active {
        a {
          color: var(--primaryColor);
          opacity: 1;
          &:before {
            content: "";
            display: inline-block;
            width: 4px;
            height: 36px;
            position: absolute;
            right: 0;
            background-color: var(--primaryColor);
            border-radius: 8px;
          }
        }
      }
    }
  }
}
.files-list {
  .table {
    thead {
      height: 59px;
      background: rgba(0, 129, 196, 0.1);
      h5 {
        font-size: 18px;
        color: var(--primaryColor);
        margin-bottom: 0;
      }
    }
    th,
    td {
      vertical-align: middle;
    }
    tr {
      td {
        height: 82px;
        h5 {
          font-size: 18px;
          color: var(--gray_text);
          margin-bottom: 0;
          span {
            display: inline-block;
            width: 66px;
            height: 32px;
            background: #5ab087;
            color: var(--white);
            text-align: center;
            border-radius: 4px;
            margin-right: 24px;
          }
        }
        a {
          display: inline-block;
          width: 36px;
          height: 36px;
          background: rgba(0, 129, 196, 0.05);
          border-radius: 100%;
          text-align: center;
        }
      }
    }

    tr {
      &:nth-of-type(even) {
        background: #f7f7f7;
      }
      th,
      td {
        &:last-of-type {
          padding-left: 30px;
        }
        &:first-of-type {
          padding-right: 30px;
        }
      }
    }
  }
}

// mobile
@media (max-width: 767px) {
  .files-list {
    .table {
      tr {
        td {
          h5 {
            font-size: 16px;
            span {
              width: 50px;
              height: 25px;
              font-size: 14px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  .files-menu {
    margin-bottom: 20px;
    ul {
      li {
        a {
          font-size: 18px;
          margin: 10px 0;
        }
      }
    }
  }
}
