:root {
  --primaryColor: #0070c4;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #fff;
  --headerBottomBgColor: #26262680;
  --headerTopContentColor: #fff;
  --headingsColor: #181818;
  --paragraphColor: #181818;
  --lightContentColor: #18181899;
  --lightBgColor: #f8f8f8;
  --linksColor: #0070c4;
  --linksHoverColor: #1d73bf;
  --menuLinksColor: #ffffffb3;
  --menuLinksHoverColor: #fff !important;
  --footerBackgroundColor: linear-gradient(
    92.4deg,
    var(--firstGradientColor) -38.21%,
    var(--secondGradientColor) 145.4%
  );
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #ffffffb3 !important;
  --firstGradientColor: #0070c4;
  --secondGradientColor: #00b8c4;
  --theme-two-main-color: var(--primaryColor);
  --white: #fff;
  --black: #000;
  --red: #f34a3f;
  --bg_color: linear-gradient(
    92.4deg,
    var(--firstGradientColor) -38.21%,
    var(--secondGradientColor) 145.4%
  );
  --gray_text: var(--paragraphColor);
  --bg_light: var(--lightBgColor);
  --main_color: var(--primaryColor);
  --sign-in-desc: #606060;
  --sign-in-desc2: #757575b2;
  --input-border: #ffffff66;
  --input-placeholder: #868e96;
  --input-background: #f8f8f8;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
}

.page_content {
  margin: 20rem 0 5rem 0;
}

.theme-two .card-with-icon-parent h3 {
  font-family: "Tajawal-Bold";
  font-size: 28px;
  color: var(--gray_text);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.theme-two .card-with-icon-parent .card-item {
  position: relative;
  padding: 3rem 1rem;
  background: var(--white);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.theme-two .card-with-icon-parent .card-item .bg-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/card-pattern.png);
  opacity: 0.4;
}
.theme-two .card-with-icon-parent .card-item .bg-pattern svg {
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.theme-two .card-with-icon-parent .card-item .bg-pattern svg path {
  stroke: var(--black);
}
.theme-two .card-with-icon-parent .card-item .content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.theme-two .card-with-icon-parent .card-item .content-right h3 {
  font-family: "Tajawal-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--gray_text);
  margin-top: 0;
}
.theme-two .card-with-icon-parent .card-item .content-right p {
  font-family: "Tajawal-Regular";
  font-size: 18px;
  line-height: 30px;
  color: var(--lightContentColor);
  color: var(--gray_text);
  max-width: 426px;
  margin-bottom: 40px;
  opacity: 0.7;
}
.theme-two .card-with-icon-parent .card-item .content-right a {
  color: var(--black);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.theme-two .card-with-icon-parent .card-item .content-right a span {
  font-size: 18px;
}
.theme-two .card-with-icon-parent .card-item:hover {
  background: var(--bg_color);
}
.theme-two .card-with-icon-parent .card-item:hover .content-right h3,
.theme-two .card-with-icon-parent .card-item:hover .content-right p {
  color: var(--white) !important;
}
.theme-two .card-with-icon-parent .card-item:hover .content-right a {
  color: var(--white);
}
.theme-two .card-with-icon-parent .card-item:hover .content-right a span {
  color: var(--white);
}
.theme-two .card-with-icon-parent .card-item:hover .content-right a svg path {
  stroke: var(--white);
}
@media (max-width: 1050px) {
  .theme-two .card-with-icon-parent h3 {
    font-family: "Tajawal-Bold";
    font-size: 28px;
    color: var(--gray_text);
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
  .theme-two .card-with-icon-parent .card-item {
    position: relative;
    padding: 3rem 2.5rem;
    background: var(--white);
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .theme-two .card-with-icon-parent .card-item .content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
  .theme-two .card-with-icon-parent .card-item .content-right h3 {
    font-family: "Tajawal-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--gray_text);
    margin-top: 0;
  }
  .theme-two .card-with-icon-parent .card-item .content-right p {
    font-family: "Tajawal-Regular";
    font-size: 16px;
    line-height: 30px;
    color: var(--lightContentColor);
    color: var(--gray_text);
    max-width: 426px;
    margin-bottom: 40px;
    opacity: 0.7;
  }
  .theme-two .card-with-icon-parent .card-item .content-right a {
    color: var(--black);
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
  }
  .theme-two .card-with-icon-parent .card-item .content-right a span {
    font-size: 18px;
  }
  .theme-two .card-with-icon-parent .card-item:hover {
    background: var(--bg_color);
  }
  .theme-two .card-with-icon-parent .card-item:hover .content-right h3,
  .theme-two .card-with-icon-parent .card-item:hover .content-right p {
    color: var(--white);
  }
  .theme-two .card-with-icon-parent .card-item:hover .content-right a {
    color: var(--white);
  }
  .theme-two .card-with-icon-parent .card-item:hover .content-right a span {
    color: var(--white);
  }
  .theme-two .card-with-icon-parent .card-item:hover .content-right a svg path {
    stroke: var(--white);
  }
  .theme-two .card-with-icon-parent .card-item .content-left img {
    width: 10rem;
  }
}
@media (max-width: 550px) {
  .theme-two .card-item {
    padding: 3rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .theme-two .card-item .content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
  .theme-two .card-item .content-right h3 {
    font-family: "Tajawal-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--gray_text);
    margin-top: 0;
  }
  .theme-two .card-item .content-right p {
    font-family: "Tajawal-Regular";
    font-size: 18px;
    line-height: 30px;
    color: var(--lightContentColor);
    color: var(--gray_text);
    max-width: 426px;
    margin-bottom: 40px;
    opacity: 0.7;
  }
  .theme-two .card-item .content-right a {
    color: var(--black);
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
  }
  .theme-two .card-item .content-right a span {
    font-size: 18px;
  }
  .theme-two .card-item:hover {
    background: var(--bg_color);
  }
  .theme-two .card-item:hover .content-right h3,
  .theme-two .card-item:hover .content-right p {
    color: var(--white);
  }
  .theme-two .card-item:hover .content-right a {
    color: var(--white);
  }
  .theme-two .card-item:hover .content-right a span {
    color: var(--white);
  }
  .theme-two .card-item:hover .content-right a svg path {
    stroke: var(--white);
  }
  .theme-two .card-item .content-left img {
    width: 8rem;
  }
}