:root {
  --primaryColor: #0070c4;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #fff;
  --headerBottomBgColor: #26262680;
  --headerTopContentColor: #fff;
  --headingsColor: #181818;
  --paragraphColor: #181818;
  --lightContentColor: #18181899;
  --lightBgColor: #f8f8f8;
  --linksColor: #0070c4;
  --linksHoverColor: #1d73bf;
  --menuLinksColor: #ffffffb3;
  --menuLinksHoverColor: #fff !important;
  --footerBackgroundColor: linear-gradient(
    92.4deg,
    var(--firstGradientColor) -38.21%,
    var(--secondGradientColor) 145.4%
  );
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #ffffffb3 !important;
  --firstGradientColor: #0070c4;
  --secondGradientColor: #00b8c4;
  --theme-two-main-color: var(--primaryColor);
  --white: #fff;
  --black: #000;
  --red: #f34a3f;
  --bg_color: linear-gradient(
    92.4deg,
    var(--firstGradientColor) -38.21%,
    var(--secondGradientColor) 145.4%
  );
  --gray_text: var(--paragraphColor);
  --bg_light: var(--lightBgColor);
  --main_color: var(--primaryColor);
  --sign-in-desc: #606060;
  --sign-in-desc2: #757575b2;
  --input-border: #ffffff66;
  --input-placeholder: #868e96;
  --input-background: #f8f8f8;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
}

.page_content {
  padding-top: 205px;
}


.gallary_list {
  margin-bottom: 250px;
}
.gallary_list .img_details {
  background: rgba(0, 164, 196, 0.05);
  border-radius: 4px;
  text-align: center;
  height: 344px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallary_list .img_details h3 {
  font-family: "Tajawal-Bold";
  font-size: 20px !important;
  color: var(--main_color)!important;
  margin-bottom: 75px;
}
.gallary_list .img_details p {
  font-size: 18px;
  line-height: 40px;
  color: var(--gray_text);
  max-width: 479px;
  margin: 0 auto 65px auto;
}
.gallary_list .img_details a {
  background: var(--bg_color);
  border-radius: 4px;
  width: 290px;
  height: 48px;
  color: var(--white);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 17px;
}
.gallary_list .img_details a img {
  margin-top: 5px;
  margin-right: 23%;
}
.gallary_list .img_container {
  width: 100%;
  height: 344px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.gallary_list .img_container img {
  width: 100%;
  height: 100%;
 /* -o-object-fit: cover;
     object-fit: cover;*/
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}
.gallary_list .img_container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 992px) {
  .gallary_list{
    margin-bottom: 100px;
  }
  .gallary_list .img_container {
    height: auto;
  }
  .gallary_list .img_details{
    height: auto;
    padding:24px 0
  }
  .gallary_list .img_details p,.gallary_list .img_details h3{
    margin-bottom: 30px;
  }
}
