:root {
  --primaryColor: #0070c4;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #fff;
  --headerBottomBgColor: #26262680;
  --headerTopContentColor: #fff;
  --headingsColor: #181818;
  --paragraphColor: #181818;
  --lightContentColor: #18181899;
  --lightBgColor: #f8f8f8;
  --linksColor: #0070c4;
  --linksHoverColor: #1d73bf;
  --menuLinksColor: #ffffffb3;
  --menuLinksHoverColor: #fff !important;
  --footerBackgroundColor: linear-gradient(
    92.4deg,
    var(--firstGradientColor) -38.21%,
    var(--secondGradientColor) 145.4%
  );
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #ffffffb3 !important;
  --firstGradientColor: #0070c4;
  --secondGradientColor: #00b8c4;
  --theme-two-main-color: var(--primaryColor);
  --white: #fff;
  --black: #000;
  --red: #f34a3f;
  --bg_color: linear-gradient(
    92.4deg,
    var(--firstGradientColor) -38.21%,
    var(--secondGradientColor) 145.4%
  );
  --gray_text: var(--paragraphColor);
  --bg_light: var(--lightBgColor);
  --main_color: var(--primaryColor);
  --sign-in-desc: #606060;
  --sign-in-desc2: #757575b2;
  --input-border: #ffffff66;
  --input-placeholder: #868e96;
  --input-background: #f8f8f8;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
}

.theme-two .related_sites {
  background: var(--bg_color);
  padding: 85px 0 120px 0;
}
.theme-two .related_sites h3 {
  font-family: "Tajawal-Bold";
  font-size: 28px;
  color: var(--white) !important;
  margin-bottom: 20px;
}
.theme-two .related_sites p {
  font-size: 18px;
  color: var(--white);
  max-width: 426px;
  margin-bottom: 65px;
}
.theme-two .related_sites .sites {
  padding-right: 95px;
  margin-bottom: -262px;
}
.theme-two .related_sites .sites .slick-slide {
  padding: 0 10px 15px 10px;
}
.theme-two .related_sites .sites .single_site {
  background: var(--white);
  border: 1px solid var(--input-border);
  border-radius: 6px;
  padding: 17px 27px;
  min-height: 197px;
  position: relative;
  -webkit-box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
          box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.theme-two .related_sites .sites .single_site h4 {
  font-family: "Tajawal-Bold";
  font-size: 24px;
  margin-bottom: 20px;
}
.theme-two .related_sites .sites .single_site h6 {
  font-size: 18px;
  color: var(--paragraphColor) !important;
  font-weight: 400;
  line-height: 32px;
}
.theme-two .related_sites .sites .single_site a {
  font-size: 18px;
  color: var(--main_color);
  text-decoration: none;
  position: absolute;
  bottom: 17px;
}
@media (max-width: 1100px) {
  .theme-two .related_sites {
    background: var(--bg_color);
    padding: 85px 0 120px 0;
  }
  .theme-two .related_sites h3 {
    font-family: "Tajawal-Bold";
    font-size: 26px;
    color: var(--white);
    margin-bottom: 20px;
  }
  .theme-two .related_sites p {
    font-size: 16px;
    color: var(--white);
    max-width: 426px;
    margin-bottom: 65px;
  }
  .theme-two .related_sites .sites {
    padding-right: 80px;
    margin-bottom: -262px;
  }
  .theme-two .related_sites .sites .slick-slide {
    margin: 0 10px;
  }
  .theme-two .related_sites .sites .single_site {
    background: var(--white);
    border: 1px solid var(--input-border);
    border-radius: 6px;
    padding: 17px 17px;
    min-height: 197px;
    position: relative;
  }
  .theme-two .related_sites .sites .single_site h4 {
    font-family: "Tajawal-Bold";
    font-size: 22px;
    margin-bottom: 20px;
  }
  .theme-two .related_sites .sites .single_site h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 35px;
  }
  .theme-two .related_sites .sites .single_site a {
    font-size: 16px;
    color: var(--main_color);
    text-decoration: none;
    position: absolute;
    bottom: 17px;
  }
}
@media (max-width: 991.98px) {
  .theme-two .related_sites {
    padding: 36px 0 120px 0;
  }
  .theme-two .related_sites .sites {
    padding-right: 5px;
    margin-bottom: -200px;
  }
  .theme-two .related_sites .sites{
    padding:0 10px
  }
}
@media (max-width: 768px) {
  .theme-two .related_sites .sites {
   /* padding-right: 0;*/
    margin-bottom: initial;
  }
  .theme-two .related_sites .sites .slick-slide {
    margin: 12px 5px;
  }
}