:root {
  --primaryColor: #0070c4;
  --secondaryColor: #1e549d;
  --headerTopBgColor: #fff;
  --headerBottomBgColor: #26262680;
  --headerTopContentColor: #fff;
  --headingsColor: #181818;
  --paragraphColor: #181818;
  --lightContentColor: #18181899;
  --lightBgColor: #f8f8f8;
  --linksColor: #0070c4;
  --linksHoverColor: #1d73bf;
  --menuLinksColor: #ffffffb3;
  --menuLinksHoverColor: #fff !important;
  --footerBackgroundColor: linear-gradient(
    92.4deg,
    var(--firstGradientColor) -38.21%,
    var(--secondGradientColor) 145.4%
  );
  --footerContentColor: #fff !important;
  --footerContentHoverColor: #ffffffb3 !important;
  --firstGradientColor: #0070c4;
  --secondGradientColor: #00b8c4;
  --theme-two-main-color: var(--primaryColor);
  --white: #fff;
  --black: #000;
  --red: #f34a3f;
  --bg_color: linear-gradient(
    92.4deg,
    var(--firstGradientColor) -38.21%,
    var(--secondGradientColor) 145.4%
  );
  --gray_text: var(--paragraphColor);
  --bg_light: var(--lightBgColor);
  --main_color: var(--primaryColor);
  --sign-in-desc: #606060;
  --sign-in-desc2: #757575b2;
  --input-border: #ffffff66;
  --input-placeholder: #868e96;
  --input-background: #f8f8f8;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --info-color: #2196f3;
  --border-error-color: #f44336;
  --border-success-color: #4caf50;
  --border-warning-color: #ff9800;
  --border-info-color: #2196f3;
  --background-success: #f3faf3;
  --background-warning: #fff8f0;
  --background-error: #fff0f0;
}

.pagination {
  margin-bottom: 30px;
}
.pagination .page-item .page-link {
  font-size: 1.8rem !important;
  padding: 1rem 2rem !important;
  color: var(--mediaSeeMoreMainBtnColor) !important;
}
.pagination .page-item .page-link.active {
  background-color: var(--main_color) !important;
  color: var(--white) !important;
}
.pagination .page-item .page-link.arrow-pag {
  width: 4rem;
  height: 4rem;
  font-size: 2rem !important;
  color: var(--mediaSeeMoreMainBtnColor) !important;
}
.pagination .page-item:hover .page-link {
  background-color: var(--main_color) !important;
  color: var(--white) !important;
}

@media (max-width: 1180px) {
  .pagination {
    margin-top: 5rem !important;
    margin-bottom: 0 !important;
  }
  .pagination .page-item .page-link {
    font-size: 1.8rem !important;
    padding: 1rem 2rem !important;
  }
}
@media (max-width: 770px) {
  .pagination {
    margin-bottom: 0 !important;
  }
  .pagination .page-item .page-link {
    font-size: 1.6rem !important;
    padding: 0.7rem 1.5rem !important;
    color: var(--mediaSeeMoreMainBtnColor) !important;
  }
  .pagination .page-item .page-link.active {
    background-color: var(--primaryColor) !important;
    color: var(--white) !important;
  }
  .pagination .page-item:hover .page-link {
    background-color: var(--firstHeaderBgColor) !important;
    color: var(--white) !important;
  }
}
.margin-bottom-half {
  margin-bottom: 0.5rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.margin-bottom-5 {
  margin-bottom: 5rem;
}

.margin-top-half {
  margin-top: 0.5rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-top-5 {
  margin-top: 5rem;
}